<a href="https://colab.research.google.com/github/Wanita-8943/efficientnet_keras_transfer_learning/blob/master/Data_Gender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
import pandas as pd
import shutil
import os
import glob
import shutil
import sys
import numpy as np

In [56]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [57]:
df = pd.read_csv (r'/content/drive/MyDrive/cut_panoramic/Data/1Data_Gender.csv')
df

,Fig_Age,Fig_Person_Sex,Age(year),Class,Filename,Path_filename,Sex,Floder
0,1,1,7,Y07F,V1.jpg,/content/drive/My Drive/cut_panoramic/7 year/7...,Female,Both
1,2,1,7,Y07F,Flip_V1.jpg,/content/drive/My Drive/cut_panoramic/7 year/7...,Female,Both
2,3,2,7,Y07F,V2.jpg,/content/drive/My Drive/cut_panoramic/7 year/7...,Female,Both
3,4,2,7,Y07F,Flip_V2.jpg,/content/drive/My Drive/cut_panoramic/7 year/7...,Female,Both
4,5,3,7,Y07F,V3.jpg,/content/drive/My Drive/cut_panoramic/7 year/7...,Female,Both
...,...,...,...,...,...,...,...,...
4745,121,77,25,Y25M,Flip_J463.jpg,/content/drive/My Drive/cut_panoramic/25 year/...,Male,Both
4746,122,78,25,Y25M,J464.jpg,/content/drive/My Drive/cut_panoramic/25 year/...,Male,Both
4747,123,78,25,Y25M,Flip_J464.jpg,/content/drive/My Drive/cut_panoramic/25 year/...,Male,Both
4748,124,79,25,Y25M,J465.jpg,/content/drive/My Drive/cut_panoramic/25 year/...,Male,Both
4749,125,79,25,Y25M,Flip_J465.jpg,/content/drive/My Drive/cut_panoramic/25 year/...,Male,Both

##สร้างโฟลเดอร์

In [58]:
base_dir = '/content/drive/My Drive/TVT_Gender'
os.makedirs(base_dir, exist_ok=True)

# Directories for our training,
# validation and test splits
train_dir = os.path.join(base_dir, 'train')
os.makedirs(train_dir, exist_ok=True)
validation_dir = os.path.join(base_dir, 'validation')
os.makedirs(validation_dir, exist_ok=True)
test_dir = os.path.join(base_dir, 'test')
os.makedirs(test_dir, exist_ok=True)

In [59]:
train_Female_dir = os.path.join(train_dir, 'Female')
os.makedirs(train_Female_dir, exist_ok=True)

train_Male_dir = os.path.join(train_dir, 'Male')
os.makedirs(train_Male_dir, exist_ok=True)

In [60]:
validation_Female_dir = os.path.join(validation_dir, 'Female')
os.makedirs(validation_Female_dir, exist_ok=True)

validation_Male_dir = os.path.join(validation_dir, 'Male')
os.makedirs(validation_Male_dir, exist_ok=True)

In [61]:
test_Female_dir = os.path.join(test_dir, 'Female')
os.makedirs(test_Female_dir, exist_ok=True)

test_Male_dir = os.path.join(test_dir, 'Male')
os.makedirs(test_Male_dir, exist_ok=True)

In [62]:
val = df[df['Fig_Age'].between(76,100)]
train = df[df['Fig_Age'].between(1,75)]
test = df[df['Fig_Age'].between(101,125)]

In [63]:
# #Path Train
# Female_train = train[train['Sex']=='Female' ]
# Female_path_train = Female_train['Path_filename'].tolist() 

# Male_train = train[train['Sex']=='Male' ]
# Male_path_train = Male_train['Path_filename'].tolist()

In [64]:
# #Path Train
# Female_val = val[val['Sex']=='Female' ]
# Female_path_val = Female_val['Path_filename'].tolist() 

Male_val = val[val['Sex']=='Male' ]
Male_path_val = Male_val['Path_filename'].tolist()

In [65]:
# #Path Train
# Female_test = test[test['Sex']=='Female' ]
# Female_path_test = Female_test['Path_filename'].tolist() 

# Male_test = test[test['Sex']=='Male' ]
# Male_path_test = Male_test['Path_filename'].tolist()

##ดึงรูปเข้าโฟลเดอร์

In [66]:
# fnames = Female_path_train
# for fname in fnames:
#     dst = os.path.join(train_Female_dir, os.path.basename(fname))
#     shutil.copyfile(fname, dst)
    


# fnames = Male_path_train
# for fname in fnames:
#     dst = os.path.join(train_Male_dir, os.path.basename(fname))
#     shutil.copyfile(fname, dst)

In [67]:
# fnames = Female_path_val
# for fname in fnames:
#     dst = os.path.join(validation_Female_dir, os.path.basename(fname))
#     shutil.copyfile(fname, dst)


fnames = Male_path_val
for fname in fnames:
    dst = os.path.join(validation_Male_dir, os.path.basename(fname))
    shutil.copyfile(fname, dst)

In [68]:
# fnames = Female_path_test
# for fname in fnames:
#     dst = os.path.join(test_Female_dir, os.path.basename(fname))
#     shutil.copyfile(fname, dst)


# fnames = Male_path_test
# for fname in fnames:
#     dst = os.path.join(test_Male_dir, os.path.basename(fname))
#     shutil.copyfile(fname, dst)

In [69]:
# print('total training Female images:', len(os.listdir(train_Female_dir))) 
# print('total training Male images:', len(os.listdir(train_Male_dir)))


# print('total validation Female images:', len(os.listdir(validation_Female_dir))) 
print('total validation Male images:', len(os.listdir(validation_Male_dir)))


# print('total test Female images:', len(os.listdir(test_Female_dir))) 
# print('total test Male images:', len(os.listdir(test_Male_dir)))

total validation Male images: 475