<a href="https://colab.research.google.com/github/Wanita-8943/efficientnet_keras_transfer_learning/blob/master/%E0%B8%95%E0%B8%B1%E0%B8%94%E0%B8%A3%E0%B8%B9%E0%B8%9B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import shutil
import cv2
import PIL
from PIL import Image

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv (r'/content/drive/MyDrive/Film pano/All_Film7.csv')
df

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
0,1,1,7,Y7F,V1.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
1,2,2,7,Y7F,V2.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
2,3,3,7,Y7F,V3.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
3,4,4,7,Y7F,V6.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
4,5,5,7,Y7F,V7.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
...,...,...,...,...,...,...,...,...
3091,138,50,25,Y25M,J146.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Rt
3092,139,51,25,Y25M,J166.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Rt
3093,140,52,25,Y25M,J169.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Rt
3094,141,53,25,Y25M,J183.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Rt
3095,142,54,25,Y25M,J208.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Rt

## Code

In [ ]:
# from PIL import Image
# import matplotlib.pyplot as plt

# path = df['path_img'].tolist()
# frac = 0.60
# for i in path:
#     img = Image.open(i)
#     #left---------------------------------------------------
#     left = 0
#     upper = 0
#     right = img.size[0]-((1-frac)/2)*img.size[0]
#     bottom = img.size[1]
#     cropped_left = img.crop((left, upper, right, bottom))
#     #save setting by youreself
#     cropped_left.save('/left/'+i+'.jpg')
    
#     #right ---------------------------------------------------
#     left = img.size[0]*((1-frac)/2)
#     upper = 0
#     right = img.size[0]
#     bottom = img.size[1]
#     cropped_right= img.crop((left, upper, right, bottom))
#     #save setting by youreself
#     cropped_right.save('/right/'+i+'.jpg')
    
#    # flip ---------------------------------------------------

In [ ]:
# import PIL
# # from PIL import Image

# #read the image
# im = Image.open('/content/drive/MyDrive/cut_panoramic/7Y/7Y-F/Both/2.'+filename)

# #flip image
# out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
# out.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-F/Both/2.2'+filename)

# Y7

### Y7-F_Both

In [ ]:
Y7F_1= df[(df['Class'] == 'Y7F')&(df['Floder']=='Both')]#Y7F#หญิง
Y7F_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
0,1,1,7,Y7F,V1.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
1,2,2,7,Y7F,V2.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
2,3,3,7,Y7F,V3.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
3,4,4,7,Y7F,V6.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
4,5,5,7,Y7F,V7.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
...,...,...,...,...,...,...,...,...
84,85,85,7,Y7F,V114jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
85,86,86,7,Y7F,V115.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
86,87,87,7,Y7F,V116.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
87,88,88,7,Y7F,V118.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
88,89,89,7,Y7F,V119.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y7F_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-F/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-F/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/7Y/7Y-F/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-F/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V1.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V2.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V3.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V6.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V7.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V9.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V10.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V13.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V14.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V15.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V16.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V17.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V19.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V120.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V22.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V23.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V24.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V25.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V26.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V27.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V28.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V29.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V30.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V33.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V34.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V35.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V36.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V38.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V40.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V41.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V42.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V43.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V45.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V46.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V49.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V50.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V51.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V52.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V53.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V54.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V55.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V56.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V57.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V59.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V60.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V61.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V62.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V63.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V64.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V66.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V67.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V68.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V69.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V70.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V74.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V75.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V76.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V78.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V79.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V81.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V84.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V85.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V88.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V91.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V92.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V93.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V94.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V95.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V96.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V97.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V98.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V99.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V100.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V101.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V102.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V103.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V104.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V106.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V107.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V108.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V109.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V110.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V111.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V112.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V114.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V115.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V116.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V118.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V119.jpg

### Y7-M_Both

In [ ]:
Y7M_1 = df[(df['Class'] == 'Y7M')&(df['Floder']=='Both')] #Y7M#ชาย
Y7M_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
100,101,1,7,Y7M,VV03.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Both
101,102,2,7,Y7M,VV04.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Both
102,103,3,7,Y7M,VV05.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Both
103,104,4,7,Y7M,VV08.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Both
104,105,5,7,Y7M,VV09.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Both
...,...,...,...,...,...,...,...,...
163,164,64,7,Y7M,VV110.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Both
164,165,65,7,Y7M,VV112.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Both
165,166,66,7,Y7M,VV115.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Both
166,167,67,7,Y7M,VV116.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Both
167,168,68,7,Y7M,VV117.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y7M_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-M/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-M/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/7Y/7Y-M/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-M/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV03.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV04.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV05.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV08.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV09.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV10.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV11.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV13.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV14.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV16.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV18.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV19.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV21.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV22.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV24.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV25.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV26.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV27.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV33.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV35.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV36.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV37.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV39.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV41.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV43.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV45.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV46.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV48.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV49.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV50.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV51.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV52.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV55.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV56.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV57.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV61.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV62.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV63.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV65.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV69.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV70.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV71.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV72.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV74.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV77.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV78.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV79.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV80.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV81.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV82.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV83.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV84.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV85.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV88.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV89.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV91.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV94.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV98.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV100.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV101.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV104.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV107.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV108.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV110.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV112.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV115.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV116.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV117.jpg

### Y7-F_Lt

In [ ]:
Y7F_2= df[(df['Class'] == 'Y7F')&(df['Floder']=='Lt')]#หญิง
Y7F_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
94,95,95,7,Y7F,V11.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Lt
95,96,96,7,Y7F,V31.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Lt
96,97,97,7,Y7F,V32.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Lt
97,98,98,7,Y7F,V71.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Lt
98,99,99,7,Y7F,V73.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Lt
99,100,100,7,Y7F,V90.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y7F_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-F/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/7Y/7Y-F/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-F/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/7 year/7Y-F/Lt/V11.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Lt/V31.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Lt/V32.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Lt/V71.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Lt/V73.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Lt/V90.jpg

### Y7-M_Lt

In [ ]:
Y7M_2= df[(df['Class'] == 'Y7M')&(df['Floder']=='Lt')]#ชาย
Y7M_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
168,169,69,7,Y7M,VV17.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
169,170,70,7,Y7M,VV28.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
170,171,71,7,Y7M,VV30.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
171,172,72,7,Y7M,VV40.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
172,173,73,7,Y7M,VV54.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
173,174,74,7,Y7M,VV67.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
174,175,75,7,Y7M,VV76.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
175,176,76,7,Y7M,VV97.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
176,177,77,7,Y7M,VV103.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
177,178,78,7,Y7M,VV105.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
178,179,79,7,Y7M,VV106.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
179,180,80,7,Y7M,VV113.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
180,181,81,7,Y7M,VV119.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y7M_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-M/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/7Y/7Y-M/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-M/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV17.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV28.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV30.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV40.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV54.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV67.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV76.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV97.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV103.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV105.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV106.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV113.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV119.jpg

### Y7-F_Rt

In [ ]:
Y7F_3= df[(df['Class'] == 'Y7F')&(df['Floder']=='Rt')]#หญิง
Y7F_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
89,90,90,7,Y7F,V5.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Rt
90,91,91,7,Y7F,V44.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Rt
91,92,92,7,Y7F,V65.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Rt
92,93,93,7,Y7F,V86.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Rt
93,94,94,7,Y7F,V105.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y7F_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-F/Rt/'+filename)

/content/drive/My Drive/Film pano/7 year/7Y-F/Rt/V5.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Rt/V44.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Rt/V65.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Rt/V86.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Rt/V105.jpg

### Y7-M_Rt

In [ ]:
Y7M_3= df[(df['Class'] == 'Y7M')&(df['Floder']=='Rt')]#ชาย
Y7M_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
181,182,82,7,Y7M,VV01.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
182,183,83,7,Y7M,VV02.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
183,184,84,7,Y7M,VV15.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
184,185,85,7,Y7M,VV20.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
185,186,86,7,Y7M,VV29.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
186,187,87,7,Y7M,VV31.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
187,188,88,7,Y7M,VV34.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
188,189,89,7,Y7M,VV38.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
189,190,90,7,Y7M,VV44.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
190,191,91,7,Y7M,VV53.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
191,192,92,7,Y7M,VV58.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
192,193,93,7,Y7M,VV66.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
193,194,94,7,Y7M,VV75.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
194,195,95,7,Y7M,VV86.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
195,196,96,7,Y7M,VV93.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
196,197,97,7,Y7M,VV96.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
197,198,98,7,Y7M,VV99.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
198,199,99,7,Y7M,VV118.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
199,200,100,7,Y7M,VV120.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y7M_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-M/Rt/'+filename)

/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV01.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV02.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV15.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV20.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV29.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV31.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV34.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV38.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV44.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV53.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV58.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV66.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV75.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV86.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV93.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV96.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV99.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV118.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV120.jpg

#Y8

### Y8-F_Both

In [ ]:
Y8F_1= df[(df['Class'] == 'Y8F')&(df['Floder']=='Both')]#Y8F#หญิง
Y8F_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
200,1,1,8,Y8F,P01.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Both
201,2,2,8,Y8F,P02.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Both
202,3,3,8,Y8F,P04.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Both
203,4,4,8,Y8F,P05.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Both
204,5,5,8,Y8F,P07.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Both
...,...,...,...,...,...,...,...,...
283,84,84,8,Y8F,P110.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Both
284,85,85,8,Y8F,P111.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Both
285,86,86,8,Y8F,P112.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Both
286,87,87,8,Y8F,P113.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Both
287,88,88,8,Y8F,P114.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y8F_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-F/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-F/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/8Y/8Y-F/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-F/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P01.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P02.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P04.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P05.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P07.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P08.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P09.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P11.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P12.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P13.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P14.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P18.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P20.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P21.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P22.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P23.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P24.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P25.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P26.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P27.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P28.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P29.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P30.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P32.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P35.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P36.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P37.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P38.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P40.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P42.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P43.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P44.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P45.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P47.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P49.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P50.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P51.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P52.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P53.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P54.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P56.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P57.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P60.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P62.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P64.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P65.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P66.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P67.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P68.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P69.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P70.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P72.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P73.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P74.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P75.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P76.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P77.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P78.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P79.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P80.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P81.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P82.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P84.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P85.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P87.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P88.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P90.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P91.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P92.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P93.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P95.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P96.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P97.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P98.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P99.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P100.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P101.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P102.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P103.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P104.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P106.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P107.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P108.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P110.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P111.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P112.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P113.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P114.jpg

### Y8-M_Both

In [ ]:
Y8M_1= df[(df['Class'] == 'Y8M')&(df['Floder']=='Both')]#Y8M#ชาย
Y8M_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
300,101,1,8,Y8M,PP02.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Both
301,102,2,8,Y8M,PP03.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Both
302,103,3,8,Y8M,PP04.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Both
303,104,4,8,Y8M,PP05.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Both
304,105,5,8,Y8M,PP07.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Both
...,...,...,...,...,...,...,...,...
383,184,84,8,Y8M,PP116.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Both
384,185,85,8,Y8M,PP117.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Both
385,186,86,8,Y8M,PP118.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Both
386,187,87,8,Y8M,PP119.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Both
387,188,88,8,Y8M,PP120.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y8M_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-M/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-M/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/8Y/8Y-M/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-M/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP02.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP03.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP04.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP05.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP07.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP08.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP09.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP10.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP11.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP12.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP13.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP14.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP19.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP20.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP21.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP22.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP23.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP24.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP25.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP26.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP27.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP28.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP29.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP30.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP31.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP32.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP33.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP34.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP35.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP36.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP37.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP40.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP43.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP44.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP45.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP46.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP47.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP48.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP50.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP51.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP52.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP53.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP57.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP58.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP59.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP60.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP61.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP64.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP65.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP66.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP68.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP70.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP71.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP72.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP75.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP76.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP77.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP78.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP79.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP80.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP81.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP82.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP83.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP84.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP85.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP86.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP89.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP94.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP95.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP96.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP97.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP99.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP102.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP103.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP104.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP105.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP109.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP110.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP111.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP112.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP113.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP114.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP115.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP116.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP117.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP118.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP119.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP120.jpg

### Y8-F_Lt

In [ ]:
Y8F_2= df[(df['Class'] == 'Y8F')&(df['Floder']=='Lt')]#หญิง
Y8F_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
288,89,89,8,Y8F,P03.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Lt
289,90,90,8,Y8F,P15.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Lt
290,91,91,8,Y8F,P34.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Lt
291,92,92,8,Y8F,P41.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Lt
292,93,93,8,Y8F,P59.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Lt
293,94,94,8,Y8F,P71.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Lt
294,95,95,8,Y8F,P89.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Lt
295,96,96,8,Y8F,P109.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y8F_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-F/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/8Y/8Y-F/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-F/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/8 year/8Y-F/Lt/P03.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Lt/P15.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Lt/P34.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Lt/P41.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Lt/P59.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Lt/P71.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Lt/P89.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Lt/P109.jpg

### Y8-M_Lt

In [ ]:
Y8M_2= df[(df['Class'] == 'Y8M')&(df['Floder']=='Lt')]#ชาย
Y8M_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
388,189,89,8,Y8M,PP06.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Lt
389,190,90,8,Y8M,PP16.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Lt
390,191,91,8,Y8M,PP42.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Lt
391,192,92,8,Y8M,PP62.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Lt
392,193,93,8,Y8M,PP87.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y8M_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-M/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/8Y/8Y-M/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-M/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/8 year/8Y-M/Lt/PP06.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Lt/PP16.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Lt/PP42.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Lt/PP62.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Lt/PP87.jpg

### Y8-F_Rt

In [ ]:
Y8F_3= df[(df['Class'] == 'Y8F')&(df['Floder']=='Rt')]#หญิง
Y8F_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
296,97,97,8,Y8F,P19.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Rt
297,98,98,8,Y8F,P31.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Rt
298,99,99,8,Y8F,P63.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Rt
299,100,100,8,Y8F,P86.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y8F_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-F/Rt/'+filename)

/content/drive/My Drive/Film pano/8 year/8Y-F/Rt/P19.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Rt/P31.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Rt/P63.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Rt/P86.jpg

### Y8-M_Rt

In [ ]:
Y8M_3= df[(df['Class'] == 'Y8M')&(df['Floder']=='Rt')]#ชาย
Y8M_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
393,194,94,8,Y8M,PP38.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Rt
394,195,95,8,Y8M,PP54.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Rt
395,196,96,8,Y8M,PP73.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Rt
396,197,97,8,Y8M,PP91.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Rt
397,198,98,8,Y8M,PP92.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Rt
398,199,99,8,Y8M,PP100.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Rt
399,200,100,8,Y8M,PP106.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y8M_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-M/Rt/'+filename)

/content/drive/My Drive/Film pano/8 year/8Y-M/Rt/PP38.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Rt/PP54.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Rt/PP73.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Rt/PP91.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Rt/PP92.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Rt/PP100.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Rt/PP106.jpg

# Y9

### Y9-F_Both

In [ ]:
Y9F_1= df[(df['Class'] == 'Y9F')&(df['Floder']=='Both')]#Y9F#หญิง
Y9F_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
402,3,3,9,Y9F,W03.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Both
404,5,5,9,Y9F,W06.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Both
405,6,6,9,Y9F,W07.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Both
406,7,7,9,Y9F,W09.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Both
408,9,9,9,Y9F,W12.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Both
...,...,...,...,...,...,...,...,...
495,96,96,9,Y9F,W124.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Both
496,97,97,9,Y9F,W125.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Both
497,98,98,9,Y9F,W126.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Both
498,99,99,9,Y9F,W127.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Both
499,100,100,9,Y9F,W129.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y9F_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-F/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-F/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/9Y/9Y-F/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-F/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W03.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W06.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W07.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W09.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W12.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W13.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W14.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W16.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W18.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W19.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W22.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W23.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W25.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W27.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W30.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W31.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W35.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W36.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W40.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W43.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W44.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W45.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W48.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W49.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W52.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W55.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W59.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W61.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W64.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W65.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W70.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W72.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W73.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W74.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W76.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W78.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W79.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W80.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W81.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W84.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W85.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W86.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W87.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W88.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W89.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W91.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W92.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W93.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W95.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W97.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W98.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W99.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W100.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W104.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W105.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W107.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W108.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W109.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W111.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W112.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W113.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W115.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W116.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W117.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W118.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W119.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W121.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W122.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W123.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W124.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W125.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W126.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W127.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W129.jpg

### Y9-M_Both

In [ ]:
Y9M_1 = df[(df['Class'] == 'Y9M')&(df['Floder']=='Both')] #Y9M#ชาย
Y9M_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
500,101,1,9,Y9M,WW01.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Both
503,104,4,9,Y9M,WW05.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Both
504,105,5,9,Y9M,WW06.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Both
505,106,6,9,Y9M,WW07.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Both
506,107,7,9,Y9M,WW08.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Both
...,...,...,...,...,...,...,...,...
595,196,96,9,Y9M,WW136.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Both
596,197,97,9,Y9M,WW138.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Both
597,198,98,9,Y9M,WW139.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Both
598,199,99,9,Y9M,WW140.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Both
599,200,100,9,Y9M,WW142.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y9M_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-M/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-M/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/9Y/9Y-M/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-M/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW01.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW05.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW06.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW07.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW08.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW09.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW11.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW12.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW13.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW14.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW20.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW21.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW23.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW24.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW26.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW29.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW31.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW34.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW39.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW40.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW41.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW42.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW44.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW46.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW49.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW50.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW51.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW52.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW53.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW55.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW56.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW57.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW58.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW59.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW60.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW61.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW62.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW64.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW66.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW67.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW68.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW69.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW72.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW74.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW75.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW76.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW77.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW78.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW79.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW80.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW81.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW82.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW83.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW84.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW85.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW88.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW89.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW90.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW91.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW93.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW97.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW98.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW100.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW101.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW108.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW109.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW111.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW112.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW113.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW114.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW116.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW117.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW120.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW121.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW124.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW125.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW128.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW129.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW132.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW133.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW135.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW136.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW138.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW139.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW140.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW142.jpg

### Y9-F_Lt

In [ ]:
Y9F_2= df[(df['Class'] == 'Y9F')&(df['Floder']=='Lt')]#หญิง
Y9F_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
401,2,2,9,Y9F,W02.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
407,8,8,9,Y9F,W10.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
411,12,12,9,Y9F,W15.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
415,16,16,9,Y9F,W20.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
416,17,17,9,Y9F,W21.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
422,23,23,9,Y9F,W28.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
423,24,24,9,Y9F,W29.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
430,31,31,9,Y9F,W37.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
431,32,32,9,Y9F,W38.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
432,33,33,9,Y9F,W39.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
434,35,35,9,Y9F,W41.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
435,36,36,9,Y9F,W42.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
446,47,47,9,Y9F,W60.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
448,49,49,9,Y9F,W63.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
469,70,70,9,Y9F,W90.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y9F_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-F/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/9Y/9Y-F/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-F/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W02.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W10.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W15.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W20.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W21.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W28.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W29.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W37.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W38.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W39.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W41.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W42.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W60.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W63.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W90.jpg

### Y9-M_Lt

In [ ]:
Y9M_2= df[(df['Class'] == 'Y9M')&(df['Floder']=='Lt')]#ชาย
Y9M_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
513,114,14,9,Y9M,WW15.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Lt
515,116,16,9,Y9M,WW19.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Lt
522,123,23,9,Y9M,WW27.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Lt
526,127,27,9,Y9M,WW37.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Lt
531,132,32,9,Y9M,WW43.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Lt
533,134,34,9,Y9M,WW45.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Lt
548,149,49,9,Y9M,WW63.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y9M_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-M/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/9Y/9Y-M/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-M/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/9 year/9Y - M/Lt/WW15.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Lt/WW19.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Lt/WW27.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Lt/WW37.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Lt/WW43.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Lt/WW45.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Lt/WW63.jpg

### Y9-F_Rt

In [ ]:
Y9F_3= df[(df['Class'] == 'Y9F')&(df['Floder']=='Rt')]#หญิง
Y9F_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
400,1,1,9,Y9F,W01.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Rt
403,4,4,9,Y9F,W05.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Rt
420,21,21,9,Y9F,W26.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Rt
426,27,27,9,Y9F,W32.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Rt
427,28,28,9,Y9F,W34.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Rt
443,44,44,9,Y9F,W56.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Rt
444,45,45,9,Y9F,W58.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Rt
451,52,52,9,Y9F,W66.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Rt
452,53,53,9,Y9F,W68.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Rt
462,63,63,9,Y9F,W82.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Rt
474,75,75,9,Y9F,W96.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y9F_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-F/Rt/'+filename)

/content/drive/My Drive/Film pano/9 year/9Y - F/Rt/W01.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Rt/W05.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Rt/W26.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Rt/W32.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Rt/W34.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Rt/W56.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Rt/W58.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Rt/W66.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Rt/W68.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Rt/W82.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Rt/W96.jpg

### Y9-M_Rt

In [ ]:
Y9M_3= df[(df['Class'] == 'Y9M')&(df['Floder']=='Rt')]#ชาย
Y9M_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
501,102,2,9,Y9M,WW03.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Rt
502,103,3,9,Y9M,WW04.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Rt
508,109,9,9,Y9M,WW10.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Rt
514,115,15,9,Y9M,WW17.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Rt
518,119,19,9,Y9M,WW22.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Rt
554,155,55,9,Y9M,WW71.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Rt
575,176,76,9,Y9M,WW99.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y9M_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-M/Rt/'+filename)

/content/drive/My Drive/Film pano/9 year/9Y - M/Rt/WW03.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Rt/WW04.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Rt/WW10.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Rt/WW17.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Rt/WW22.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Rt/WW71.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Rt/WW99.jpg

# Y10

### Y10-F_Both

In [ ]:
Y10F_1= df[(df['Class'] == 'Y10F')&(df['Floder']=='Both')]#Y10F#หญิง
Y10F_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
601,2,2,10,Y10F,H02.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศหญิง,Both
602,3,3,10,Y10F,H03.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศหญิง,Both
603,4,4,10,Y10F,H06.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศหญิง,Both
604,5,5,10,Y10F,H08.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศหญิง,Both
605,6,6,10,Y10F,H11.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศหญิง,Both
...,...,...,...,...,...,...,...,...
695,96,96,10,Y10F,H139.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศหญิง,Both
696,97,97,10,Y10F,H140.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศหญิง,Both
697,98,98,10,Y10F,H144.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศหญิง,Both
698,99,99,10,Y10F,H145.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศหญิง,Both
699,100,100,10,Y10F,H148.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศหญิง,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y10F_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/10Y/10Y-F/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/10Y/10Y-F/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/10Y/10Y-F/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/10Y/10Y-F/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H02.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H03.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H06.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H08.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H11.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H12.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H13.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H14.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H15.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H16.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H17.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H18.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H21.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H22.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H25.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H28.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H30.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H31.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H32.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H34.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H149.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H40.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H41.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H43.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H47.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H48.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H53.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H54.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H55.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H56.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H57.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H58.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H59.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H60.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H61.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H65.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H67.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H68.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H69.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H71.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H72.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H73.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H74.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H75.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H77.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H78.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H79.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H80.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H81.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H82.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H83.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H84.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H85.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H86.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H87.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H88.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H89.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H93.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H94.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H97.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H98.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H99.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H100.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H102.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H103.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H104.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H105.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H106.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H108.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H109.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H111.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H115.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H116.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H117.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H120.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H125.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H128.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H130.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H131.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H133.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H135.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H136.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H137.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H139.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H140.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H144.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H145.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Both/H148.jpg

### Y10-M_Both

In [ ]:
Y10M_1 = df[(df['Class'] == 'Y10M')&(df['Floder']=='Both')] #Y10M#ชาย
Y10M_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
700,101,101,10,Y10M,HH1.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Both
701,102,102,10,Y10M,HH4.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Both
702,103,103,10,Y10M,HH6.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Both
704,105,105,10,Y10M,HH9.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Both
706,107,107,10,Y10M,HH11.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Both
...,...,...,...,...,...,...,...,...
795,196,196,10,Y10M,HH135.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Both
796,197,197,10,Y10M,HH137.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Both
797,198,198,10,Y10M,HH139.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Both
798,199,199,10,Y10M,HH141.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Both
799,200,200,10,Y10M,HH143.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y10M_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/10Y/10Y-M/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/10Y/10Y-M/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/10Y/10Y-M/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/10Y/10Y-M/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH1.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH4.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH6.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH9.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH11.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH13.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH14.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH16.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH20.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH21.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH22.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH25.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH28.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH31.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH32.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH33.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH34.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH36.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH40.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH42.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH43.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH45.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH46.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH49.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH51.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH52.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH55.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH56.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH58.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH59.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH62.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH64.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH66.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH67.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH71.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH72.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH73.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH74.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH75.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH76.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH80.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH81.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH82.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH83.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH84.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH85.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH87.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH88.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH89.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH90.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH91.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH93.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH94.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH95.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH97.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH99.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH100.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH101.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH102.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH104.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH144.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH110.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH111.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH112.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH113.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH114.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH116.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH117.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH119.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH121.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH123.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH124.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH125.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH126.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH128.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH129.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH134.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH135.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH137.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH139.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH141.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Both/HH143.jpg

### Y10-F_Lt

In [ ]:
Y10F_2= df[(df['Class'] == 'Y10F')&(df['Floder']=='Lt')]#หญิง
Y10F_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
617,18,18,10,Y10F,H29.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศหญิง,Lt
627,28,28,10,Y10F,H44.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศหญิง,Lt
630,31,31,10,Y10F,H49.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศหญิง,Lt
631,32,32,10,Y10F,H50.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศหญิง,Lt
632,33,33,10,Y10F,H51.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศหญิง,Lt
643,44,44,10,Y10F,H66.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศหญิง,Lt
652,53,53,10,Y10F,H76.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศหญิง,Lt
682,83,83,10,Y10F,H112.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศหญิง,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y10F_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/10Y/10Y-F/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/10Y/10Y-F/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/10Y/10Y-F/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/10 year/10Y - F/Lt/H29.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Lt/H44.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Lt/H49.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Lt/H50.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Lt/H51.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Lt/H66.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Lt/H76.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Lt/H112.jpg

### Y10-M_Lt

In [ ]:
Y10M_2= df[(df['Class'] == 'Y10M')&(df['Floder']=='Lt')]#ชาย
Y10M_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
703,104,104,10,Y10M,HH8.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Lt
705,106,106,10,Y10M,HH10.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Lt
707,108,108,10,Y10M,HH12.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Lt
724,125,125,10,Y10M,HH39.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Lt
742,143,143,10,Y10M,HH63.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Lt
747,148,148,10,Y10M,HH69.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Lt
755,156,156,10,Y10M,HH79.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Lt
770,171,171,10,Y10M,HH96.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y10M_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/10Y/10Y-M/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/10Y/10Y-M/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/10Y/10Y-M/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/10 year/10Y - M/Lt/HH8.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Lt/HH10.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Lt/HH12.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Lt/HH39.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Lt/HH63.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Lt/HH69.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Lt/HH79.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Lt/HH96.jpg

### Y10-F_Rt

In [ ]:
Y10F_3= df[(df['Class'] == 'Y10F')&(df['Floder']=='Rt')]#หญิง
Y10F_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
600,1,1,10,Y10F,H01.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศหญิง,Rt
623,24,24,10,Y10F,H38.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศหญิง,Rt
668,69,69,10,Y10F,H95.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศหญิง,Rt
669,70,70,10,Y10F,H96.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศหญิง,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y10F_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/10Y/10Y-F/Rt/'+filename)

/content/drive/My Drive/Film pano/10 year/10Y - F/Rt/H01.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Rt/H38.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Rt/H95.jpg
/content/drive/My Drive/Film pano/10 year/10Y - F/Rt/H96.jpg

### Y10-M_Rt

In [ ]:
Y10M_3= df[(df['Class'] == 'Y10M')&(df['Floder']=='Rt')]#ชาย
Y10M_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
714,115,115,10,Y10M,HH23.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Rt
721,122,122,10,Y10M,HH35.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Rt
723,124,124,10,Y10M,HH37.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Rt
728,129,129,10,Y10M,HH44.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Rt
731,132,132,10,Y10M,HH48.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Rt
735,136,136,10,Y10M,HH53.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Rt
736,137,137,10,Y10M,HH54.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Rt
744,145,145,10,Y10M,HH65.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Rt
754,155,155,10,Y10M,HH78.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Rt
772,173,173,10,Y10M,HH98.jpg,/content/drive/My Drive/Film pano/10 year/10Y ...,เพศชาย,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y10M_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/10Y/10Y-M/Rt/'+filename)

/content/drive/My Drive/Film pano/10 year/10Y - M/Rt/HH23.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Rt/HH35.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Rt/HH37.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Rt/HH44.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Rt/HH48.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Rt/HH53.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Rt/HH54.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Rt/HH65.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Rt/HH78.jpg
/content/drive/My Drive/Film pano/10 year/10Y - M/Rt/HH98.jpg

# Y11
### Y11-F_Both

In [ ]:
Y11F_1= df[(df['Class'] == 'Y11F')&(df['Floder']=='Both')]#Y15F#หญิง
Y11F_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
800,1,1,11,Y11F,D01.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศหญิง,Both
801,2,2,11,Y11F,D03.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศหญิง,Both
802,3,3,11,Y11F,D04.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศหญิง,Both
803,4,4,11,Y11F,D07.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศหญิง,Both
804,5,5,11,Y11F,D10.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศหญิง,Both
...,...,...,...,...,...,...,...,...
895,96,96,11,Y11F,D133.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศหญิง,Both
896,97,97,11,Y11F,D136.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศหญิง,Both
897,98,98,11,Y11F,D138.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศหญิง,Both
898,99,99,11,Y11F,D141.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศหญิง,Both
899,100,100,11,Y11F,D142.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศหญิง,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y11F_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/11Y/11Y-F/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/11Y/11Y-F/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/11Y/11Y-F/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/11Y/11Y-F/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D01.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D03.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D04.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D07.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D10.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D12.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D13.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D14.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D15.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D16.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D18.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D21.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D22.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D24.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D25.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D26.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D27.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D30.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D32.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D34.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D35.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D36.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D37.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D38.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D39.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D40.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D44.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D45.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D46.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D49.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D50.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D51.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D53.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D54.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D55.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D56.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D57.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D59.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D60.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D61.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D62.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D63.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D64.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D69.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D73.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D76.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D78.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D79.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D83.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D85.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D86.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D87.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D88.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D89.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D90.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D91.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D92.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D93.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D95.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D97.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D100.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D101.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D104.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D105.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D108.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D110.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D111.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D112.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D113.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D114.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D117.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D118.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D119.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D121.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D122.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D123.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D124.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D125.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D127.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D128.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D129.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D130.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D131.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D132.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D133.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D136.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D138.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D141.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Both/D142.jpg

### Y11-M_Both

In [ ]:
Y11M_1 = df[(df['Class'] == 'Y11M')&(df['Floder']=='Both')] #Y11M#ชาย
Y11M_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
900,101,1,11,Y11M,DD05.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Both
901,102,2,11,Y11M,DD06.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Both
902,103,3,11,Y11M,DD07.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Both
903,104,4,11,Y11M,DD08.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Both
904,105,5,11,Y11M,DD09.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Both
...,...,...,...,...,...,...,...,...
983,184,84,11,Y11M,DD146.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Both
984,185,85,11,Y11M,DD149.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Both
985,186,86,11,Y11M,DD150.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Both
986,187,87,11,Y11M,DD152.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Both
987,188,88,11,Y11M,DD153.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y11M_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/11Y/11Y-M/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/11Y/11Y-M/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/11Y/11Y-M/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/11Y/11Y-M/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD05.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD06.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD07.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD08.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD09.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD10.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD11.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD12.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD13.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD16.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD22.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD26.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD28.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD31.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD32.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD34.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD35.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD36.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD37.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD39.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD42.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD44.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD45.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD46.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD47.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD49.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD54.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD55.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD56.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD58.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD60.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD61.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD64.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD66.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD68.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD69.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD71.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD75.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD79.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD82.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD87.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD88.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD89.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD92.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD93.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD95.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD100.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD106.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD108.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD110.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD111.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD113.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD115.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD117.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD118.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD121.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD122.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD123.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD133.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD136.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD137.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD139.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD140.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD141.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD142.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD144.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD146.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD149.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD150.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD152.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Both/DD153.jpg

### Y11-F_Lt

In [ ]:
Y11F_2= df[(df['Class'] == 'Y11F')&(df['Floder']=='Lt')]#หญิง
Y11F_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
812,13,13,11,Y11F,D20.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศหญิง,Lt
815,16,16,11,Y11F,D23.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศหญิง,Lt
821,22,22,11,Y11F,D31.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศหญิง,Lt
848,49,49,11,Y11F,D66.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศหญิง,Lt
856,57,57,11,Y11F,D80.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศหญิง,Lt
857,58,58,11,Y11F,D81.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศหญิง,Lt
858,59,59,11,Y11F,D82.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศหญิง,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y11F_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/11Y/11Y-F/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/11Y/11Y-F/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/11Y/11Y-F/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/11 year/11Y - F/Lt/D20.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Lt/D23.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Lt/D31.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Lt/D66.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Lt/D80.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Lt/D81.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Lt/D82.jpg

### Y11-M_Lt

In [ ]:
Y11M_2= df[(df['Class'] == 'Y11M')&(df['Floder']=='Lt')]#ชาย
Y11M_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
910,111,11,11,Y11M,DD18.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Lt
914,115,15,11,Y11M,DD25.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Lt
954,155,55,11,Y11M,DD94.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Lt
959,160,60,11,Y11M,DD101.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y11M_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/11Y/11Y-M/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/11Y/11Y-M/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/11Y/11Y-M/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/11 year/11Y - M/Lt/DD18.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Lt/DD25.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Lt/DD94.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Lt/DD101.jpg

### Y11-F_Rt

In [ ]:
Y11F_3= df[(df['Class'] == 'Y11F')&(df['Floder']=='Rt')]#หญิง
Y11F_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
810,11,11,11,Y11F,D17.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศหญิง,Rt
830,31,31,11,Y11F,D41.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศหญิง,Rt
849,50,50,11,Y11F,D67.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศหญิง,Rt
851,52,52,11,Y11F,D72.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศหญิง,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y11F_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/11Y/11Y-F/Rt/'+filename)

/content/drive/My Drive/Film pano/11 year/11Y - F/Rt/D17.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Rt/D41.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Rt/D67.jpg
/content/drive/My Drive/Film pano/11 year/11Y - F/Rt/D72.jpg

### Y11-M_Rt

In [ ]:
Y11M_3= df[(df['Class'] == 'Y11M')&(df['Floder']=='Rt')]#ชาย
Y11M_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
911,112,12,11,Y11M,DD20.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Rt
912,113,13,11,Y11M,DD21.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Rt
930,131,31,11,Y11M,DD53.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Rt
937,138,38,11,Y11M,DD62.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Rt
943,144,44,11,Y11M,DD73.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Rt
945,146,46,11,Y11M,DD78.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Rt
948,149,49,11,Y11M,DD83.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Rt
956,157,57,11,Y11M,DD98.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Rt
957,158,58,11,Y11M,DD99.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Rt
961,162,62,11,Y11M,DD107.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Rt
972,173,73,11,Y11M,DD124.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Rt
973,174,74,11,Y11M,DD128.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Rt
975,176,76,11,Y11M,DD135.jpg,/content/drive/My Drive/Film pano/11 year/11Y ...,เพศชาย,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y11M_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/11Y/11Y-M/Rt/'+filename)

/content/drive/My Drive/Film pano/11 year/11Y - M/Rt/DD20.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Rt/DD21.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Rt/DD53.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Rt/DD62.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Rt/DD73.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Rt/DD78.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Rt/DD83.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Rt/DD98.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Rt/DD99.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Rt/DD107.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Rt/DD126.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Rt/DD128.jpg
/content/drive/My Drive/Film pano/11 year/11Y - M/Rt/DD135.jpg

# Y12
### Y12-F_Both

In [ ]:
Y12F_1= df[(df['Class'] == 'Y12F')&(df['Floder']=='Both')]#Y12F#หญิง
Y12F_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
990,3,3,12,Y12F,O04.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Both
991,4,4,12,Y12F,O05.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Both
992,5,5,12,Y12F,O07.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Both
993,6,6,12,Y12F,O08.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Both
995,8,8,12,Y12F,O12.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Both
...,...,...,...,...,...,...,...,...
1083,96,96,12,Y12F,O143.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Both
1084,97,97,12,Y12F,O144.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Both
1085,98,98,12,Y12F,O147.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Both
1086,99,99,12,Y12F,O148.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Both
1087,100,100,12,Y12F,O149.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y12F_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/12Y/12Y-F/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/12Y/12Y-F/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/12Y/12Y-F/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/12Y/12Y-F/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O04.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O05.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O07.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O08.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O12.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O14.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O16.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O17.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O20.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O21.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O25.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O26.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O27.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O30.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O31.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O33.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O34.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O35.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O36.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O37.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O38.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O39.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O44.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O48.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O51.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O52.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O53.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O55.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O56.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O60.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O61.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O62.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O63.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O65.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O70.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O71.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O72.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O73.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O74.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O77.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O79.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O80.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O82.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O84.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O85.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O86.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O89.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O90.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O92.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O93.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O94.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O95.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O96.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O97.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O98.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O100.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O101.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O102.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O103.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O104.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O105.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O111.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O114.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O115.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O118.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O120.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O121.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O123.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O124.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O125.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O126.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O129.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O132.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O133.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O135.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O137.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O138.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O141.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O142.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O143.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O144.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O147.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O148.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Both/O149.jpg

### Y12-M_Both

In [ ]:
Y12M_1 = df[(df['Class'] == 'Y12M')&(df['Floder']=='Both')] #Y7M#ชาย
Y12M_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1088,101,1,12,Y12M,OO01.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Both
1091,104,4,12,Y12M,OO05.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Both
1092,105,5,12,Y12M,OO07.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Both
1093,106,6,12,Y12M,OO10.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Both
1094,107,7,12,Y12M,OO13.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Both
...,...,...,...,...,...,...,...,...
1179,192,92,12,Y12M,OO149.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Both
1180,193,93,12,Y12M,OO150.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Both
1181,194,94,12,Y12M,OO151.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Both
1182,195,95,12,Y12M,OO152.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Both
1183,196,96,12,Y12M,OO153.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y12M_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/12Y/12Y-M/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/12Y/12Y-M/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/12Y/12Y-M/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/12Y/12Y-M/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO01.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO05.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO07.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO10.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO13.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO14.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO16.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO20.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO21.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO22.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO26.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO27.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO31.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO33.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO37.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO38.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO41.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO43.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO48.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO50.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO52.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO53.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO55.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO56.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO58.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO59.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO60.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO61.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO62.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO63.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO64.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO67.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO68.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO71.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO73.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO74.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO77.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO82.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO85.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO87.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO90.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO91.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO93.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO94.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO96.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO97.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO99.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO103.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO104.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO106.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO110.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO111.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO115.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO116.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO117.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO120.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO121.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO124.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO125.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO126.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO127.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO128.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO130.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO135.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO136.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO139.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO140.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO141.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO142.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO143.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO144.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO147.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO148.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO149.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO150.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO151.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO152.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Both/OO153.jpg

### Y12-F_Lt

In [ ]:
Y12F_2= df[(df['Class'] == 'Y12F')&(df['Floder']=='Lt')]#หญิง
Y12F_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
988,1,1,12,Y12F,O01.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Lt
994,7,7,12,Y12F,O11.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Lt
997,10,10,12,Y12F,O15.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Lt
1015,28,28,12,Y12F,O43.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Lt
1026,39,39,12,Y12F,O59.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Lt
1037,50,50,12,Y12F,O76.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Lt
1039,52,52,12,Y12F,O78.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Lt
1049,62,62,12,Y12F,O91.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Lt
1057,70,70,12,Y12F,O99.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Lt
1064,77,77,12,Y12F,O109.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Lt

In [ ]:

from PIL import Image
import matplotlib.pyplot as plt

path = Y12F_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/12Y/12Y-F/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/12Y/12Y-F/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/12Y/12Y-F/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/12 year/12Y - F/Lt/O01.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Lt/O11.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Lt/O15.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Lt/O43.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Lt/O59.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Lt/O76.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Lt/O78.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Lt/O91.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Lt/O99.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Lt/O109.jpg

### Y12-M_Lt

In [ ]:
Y12M_2= df[(df['Class'] == 'Y12M')&(df['Floder']=='Lt')]#ชาย
Y12M_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1089,102,2,12,Y12M,OO02.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Lt
1090,103,3,12,Y12M,OO04.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Lt
1105,118,18,12,Y12M,OO35.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Lt
1111,124,24,12,Y12M,OO49.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Lt
1125,138,38,12,Y12M,OO65.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Lt
1126,139,39,12,Y12M,OO66.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Lt
1143,156,56,12,Y12M,OO98.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Lt
1153,166,66,12,Y12M,OO112.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Lt
1157,170,70,12,Y12M,OO118.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Lt
1160,173,73,12,Y12M,OO122.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Lt
1167,180,80,12,Y12M,OO134.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y12M_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/12Y/12Y-M/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/12Y/12Y-M/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/12Y/12Y-M/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/12 year/12Y - M/Lt/OO02.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Lt/OO04.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Lt/OO35.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Lt/OO49.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Lt/OO65.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Lt/OO66.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Lt/OO98.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Lt/OO112.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Lt/OO118.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Lt/OO122.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Lt/OO134.jpg

### Y12-F_Rt

In [ ]:
Y12F_3= df[(df['Class'] == 'Y12F')&(df['Floder']=='Rt')]#หญิง
Y12F_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
989,2,2,12,Y12F,O03.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Rt
1007,20,20,12,Y12F,O32.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Rt
1017,30,30,12,Y12F,O46.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Rt
1019,32,32,12,Y12F,O50.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Rt
1023,36,36,12,Y12F,O54.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Rt
1046,59,59,12,Y12F,O87.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศหญิง,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y12F_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/12Y/12Y-F/Rt/'+filename)

/content/drive/My Drive/Film pano/12 year/12Y - F/Rt/O03.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Rt/O32.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Rt/O46.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Rt/O50.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Rt/O54.jpg
/content/drive/My Drive/Film pano/12 year/12Y - F/Rt/O87.jpg

### Y12-M_Rt

In [ ]:
Y12M_3= df[(df['Class'] == 'Y12M')&(df['Floder']=='Rt')]#ชาย
Y12M_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1104,117,17,12,Y12M,OO34.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Rt
1117,130,30,12,Y12M,OO57.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Rt
1136,149,49,12,Y12M,OO89.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Rt
1145,158,58,12,Y12M,OO100.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Rt
1146,159,59,12,Y12M,OO101.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Rt
1150,163,63,12,Y12M,OO107.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Rt
1176,189,89,12,Y12M,OO146.jpg,/content/drive/My Drive/Film pano/12 year/12Y ...,เพศชาย,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y12M_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/12Y/12Y-M/Rt/'+filename)

/content/drive/My Drive/Film pano/12 year/12Y - M/Rt/OO34.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Rt/OO57.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Rt/OO89.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Rt/OO100.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Rt/OO101.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Rt/OO107.jpg
/content/drive/My Drive/Film pano/12 year/12Y - M/Rt/OO146.jpg

# Y13
### Y13-F_Both

In [ ]:
Y13F_1= df[(df['Class'] == 'Y13F')&(df['Floder']=='Both')]#Y13F#หญิง
Y13F_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1185,2,2,13,Y13F,G05.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Both
1186,3,3,13,Y13F,G06.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Both
1187,4,4,13,Y13F,G07.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Both
1188,5,5,13,Y13F,G09.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Both
1189,6,6,13,Y13F,G11.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Both
...,...,...,...,...,...,...,...,...
1278,95,95,13,Y13F,G158.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Both
1280,97,97,13,Y13F,G162.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Both
1281,98,98,13,Y13F,G163.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Both
1282,99,99,13,Y13F,G166.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Both
1283,100,100,13,Y13F,G167.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y13F_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/13Y/13Y-F/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/13Y/13Y-F/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/13Y/13Y-F/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/13Y/13Y-F/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G05.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G06.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G07.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G09.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G11.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G12.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G14.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G16.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G17.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G19.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G20.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G23.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G24.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G25.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G26.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G27.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G28.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G32.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G35.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G36.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G37.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G38.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G39.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G41.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G42.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G43.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G45.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G46.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G47.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G48.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G50.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G52.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G53.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G57.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G62.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G64.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G67.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G69.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G71.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G72.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G73.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G75.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G77.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G78.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G82.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G83.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G84.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G92.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G93.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G94.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G98.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G101.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G103.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G105.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G109.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G110.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G111.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G112.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G113.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G114.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G115.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G116.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G117.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G118.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G119.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G120.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G121.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G124.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G129.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G134.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G145.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G146.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G147.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G151.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G156.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G157.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G158.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G162.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G163.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G166.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Both/G167.jpg

### Y13-M_Both

In [ ]:
Y13M_1 = df[(df['Class'] == 'Y13M')&(df['Floder']=='Both')] #Y13M#ชาย
Y13M_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1284,101,1,13,Y13M,GG02.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1285,102,2,13,Y13M,GG05.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1288,105,5,13,Y13M,GG08.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1289,106,6,13,Y13M,GG09.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1290,107,7,13,Y13M,GG10.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1292,109,9,13,Y13M,GG18.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1293,110,10,13,Y13M,GG20.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1294,111,11,13,Y13M,GG22.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1295,112,12,13,Y13M,GG23.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1297,114,14,13,Y13M,GG29.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1298,115,15,13,Y13M,GG32.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1299,116,16,13,Y13M,GG33.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1300,117,17,13,Y13M,GG35.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1301,118,18,13,Y13M,GG37.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1302,119,19,13,Y13M,GG43.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1303,120,20,13,Y13M,GG45.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1306,123,23,13,Y13M,GG49.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1307,124,24,13,Y13M,GG50.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1308,125,25,13,Y13M,GG53.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1309,126,26,13,Y13M,GG56.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1310,127,27,13,Y13M,GG58.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1311,128,28,13,Y13M,GG61.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1312,129,29,13,Y13M,GG62.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1313,130,30,13,Y13M,GG63.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1315,132,32,13,Y13M,GG65.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1316,133,33,13,Y13M,GG66.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1317,134,34,13,Y13M,GG67.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1318,135,35,13,Y13M,GG69.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1319,136,36,13,Y13M,GG70.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1320,137,37,13,Y13M,GG71.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1321,138,38,13,Y13M,GG74.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1322,139,39,13,Y13M,GG75.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1323,140,40,13,Y13M,GG78.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1324,141,41,13,Y13M,GG79.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1326,143,43,13,Y13M,GG84.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1328,145,45,13,Y13M,GG91.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1329,146,46,13,Y13M,GG93.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1330,147,47,13,Y13M,GG95.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1331,148,48,13,Y13M,GG97.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1332,149,49,13,Y13M,GG98.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1335,152,52,13,Y13M,GG107.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1336,153,53,13,Y13M,GG109.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1337,154,54,13,Y13M,GG112.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1339,156,56,13,Y13M,GG114.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1340,157,57,13,Y13M,GG117.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1342,159,59,13,Y13M,GG120.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1343,160,60,13,Y13M,GG121.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1344,161,61,13,Y13M,GG124.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1345,162,62,13,Y13M,GG125.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both
1346,163,63,13,Y13M,GG129.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Both

In [ ]:

from PIL import Image
import matplotlib.pyplot as plt

path = Y13M_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/13Y/13Y-M/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/13Y/13Y-M/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/13Y/13Y-M/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/13Y/13Y-M/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG02.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG05.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG08.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG09.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG10.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG18.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG20.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG22.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG23.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG29.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG32.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG33.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG35.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG37.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG43.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG45.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG49.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG50.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG53.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG56.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG58.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG61.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG62.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG63.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG65.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG66.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG67.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG69.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG70.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG71.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG74.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG75.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG78.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG79.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG84.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG91.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG93.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG95.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG97.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG98.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG107.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG109.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG112.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG114.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG117.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG120.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG121.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG124.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG125.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Both/GG129.jpg

### Y13-F_Lt

In [ ]:
Y13F_2= df[(df['Class'] == 'Y13F')&(df['Floder']=='Lt')]#หญิง
Y13F_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1184,1,1,13,Y13F,G03.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Lt
1192,9,9,13,Y13F,G15.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Lt
1236,53,53,13,Y13F,G80.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Lt
1237,54,54,13,Y13F,G81.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Lt
1265,82,82,13,Y13F,G132.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Lt
1274,91,91,13,Y13F,G153.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Lt
1275,92,92,13,Y13F,G155.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Lt
1279,96,96,13,Y13F,G161.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y13F_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/13Y/13Y-F/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/13Y/13Y-F/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/13Y/13Y-F/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/13 year/13Y - F/Lt/G03.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Lt/G15.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Lt/G80.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Lt/G81.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Lt/G132.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Lt/G153.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Lt/G155.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Lt/G161.jpg

### Y13-M_Lt

In [ ]:
Y13M_2= df[(df['Class'] == 'Y13M')&(df['Floder']=='Lt')]#ชาย
Y13M_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1287,104,4,13,Y13M,GG07.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Lt
1291,108,8,13,Y13M,GG17.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Lt
1305,122,22,13,Y13M,GG47.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Lt
1325,142,42,13,Y13M,GG80.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Lt
1333,150,50,13,Y13M,GG103.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Lt
1334,151,51,13,Y13M,GG104.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Lt
1341,158,58,13,Y13M,GG119.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y13M_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/13Y/13Y-M/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/13Y/13Y-M/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/13Y/13Y-M/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/13 year/13Y - M/Lt/GG07.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Lt/GG17.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Lt/GG47.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Lt/GG80.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Lt/GG99.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Lt/GG104.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Lt/GG119.jpg

### Y13-F_Rt

In [ ]:
Y13F_3= df[(df['Class'] == 'Y13F')&(df['Floder']=='Rt')]#หญิง
Y13F_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1195,12,12,13,Y13F,G18.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Rt
1204,21,21,13,Y13F,G29.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Rt
1211,28,28,13,Y13F,G40.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Rt
1215,32,32,13,Y13F,G44.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Rt
1224,41,41,13,Y13F,G61.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Rt
1232,49,49,13,Y13F,G74.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Rt
1248,65,65,13,Y13F,G108.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Rt
1262,79,79,13,Y13F,G122.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Rt
1267,84,84,13,Y13F,G139.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Rt
1271,88,88,13,Y13F,G148.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Rt
1272,89,89,13,Y13F,G149.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศหญิง,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y13F_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/13Y/13Y-F/Rt/'+filename)

/content/drive/My Drive/Film pano/13 year/13Y - F/Rt/G18.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Rt/G29.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Rt/G40.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Rt/G44.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Rt/G61.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Rt/G74.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Rt/G108.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Rt/G122.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Rt/G139.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Rt/G148.jpg
/content/drive/My Drive/Film pano/13 year/13Y - F/Rt/G149.jpg

### Y13-M_Rt

In [ ]:
Y13M_3= df[(df['Class'] == 'Y13M')&(df['Floder']=='Rt')]#ชาย
Y13M_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1286,103,3,13,Y13M,GG06.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Rt
1296,113,13,13,Y13M,GG25.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Rt
1304,121,21,13,Y13M,GG46.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Rt
1314,131,31,13,Y13M,GG64.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Rt
1327,144,44,13,Y13M,GG90.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Rt
1338,155,55,13,Y13M,GG113.jpg,/content/drive/My Drive/Film pano/13 year/13Y ...,เพศชาย,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y13M_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/13Y/13Y-M/Rt/'+filename)

/content/drive/My Drive/Film pano/13 year/13Y - M/Rt/GG06.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Rt/GG25.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Rt/GG46.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Rt/GG64.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Rt/GG90.jpg
/content/drive/My Drive/Film pano/13 year/13Y - M/Rt/GG113.jpg

# Y14
### Y14-F_Both

In [ ]:
# Y14F_1= df[(df['Class'] == 'Y14F')&(df['Floder']=='Both')]#Y14F#หญิง
# Y14F_1

In [ ]:

# from PIL import Image
# import matplotlib.pyplot as plt

# path = Y14F_1['Path_filename'].tolist()
# frac = 0.60
# for i in path:
#     filename = i.split("/")[-1]
#     img = Image.open(i)
#     print(i)
#     #left---------------------------------------------------
#     left = 0
#     upper = 0
#     right = img.size[0]-((1-frac))*img.size[0] 
#     bottom = img.size[1]
#     cropped_left = img.crop((left, upper, right, bottom))
#     #save setting by youreself
#     cropped_left.save('/content/drive/MyDrive/cut_panoramic/14Y/14Y-F/Both/'+filename)
    
#     #right ---------------------------------------------------
#     left = img.size[0]*((1-frac))
#     upper = 0
#     right = img.size[0]
#     bottom = img.size[1]
#     cropped_right= img.crop((left, upper, right, bottom))
#     #save setting by youreself
#     cropped_right.save('/content/drive/MyDrive/cut_panoramic/14Y/14Y-F/Both/unflip_'+filename)
    
#     #flip ---------------------------------------------------
#     # #read the image
#     im = Image.open('/content/drive/MyDrive/cut_panoramic/14Y/14Y-F/Both/unflip_'+filename)

#     #flip image
#     out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
#     out.save('/content/drive/MyDrive/cut_panoramic/14Y/14Y-F/Both/Flip_'+filename)

### Y14-M_Both

In [ ]:
# Y14M_1 = df[(df['Class'] == 'Y14M')&(df['Floder']=='Both')] #Y10M#ชาย
# Y14M_1

In [ ]:
# from PIL import Image
# import matplotlib.pyplot as plt

# path = Y14M_1['Path_filename'].tolist()
# frac = 0.60
# for i in path:
#     filename = i.split("/")[-1]
#     img = Image.open(i)
#     print(i)
#     #left---------------------------------------------------
#     left = 0
#     upper = 0
#     right = img.size[0]-((1-frac))*img.size[0] 
#     bottom = img.size[1]
#     cropped_left = img.crop((left, upper, right, bottom))
#     #save setting by youreself
#     cropped_left.save('/content/drive/MyDrive/cut_panoramic/14Y/14Y-M/Both/'+filename)
    
#     #right ---------------------------------------------------
#     left = img.size[0]*((1-frac))
#     upper = 0
#     right = img.size[0]
#     bottom = img.size[1]
#     cropped_right= img.crop((left, upper, right, bottom))
#     #save setting by youreself
#     cropped_right.save('/content/drive/MyDrive/cut_panoramic/14Y/14Y-M/Both/unflip_'+filename)
    
#     #flip ---------------------------------------------------
#     # #read the image
#     im = Image.open('/content/drive/MyDrive/cut_panoramic/14Y/14Y-M/Both/unflip_'+filename)

#     #flip image
#     out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
#     out.save('/content/drive/MyDrive/cut_panoramic/14Y/14Y-M/Both/Flip_'+filename)

### Y14-F_Lt

In [ ]:
# Y14F_2= df[(df['Class'] == 'Y14F')&(df['Floder']=='Lt')]#หญิง
# Y14F_2

In [ ]:
# from PIL import Image
# import matplotlib.pyplot as plt

# path = Y14F_2['Path_filename'].tolist()
# frac = 0.60
# for i in path:
#     filename = i.split("/")[-1]
#     img = Image.open(i)
#     print(i)
#     #right ---------------------------------------------------
#     left = img.size[0]*((1-frac))
#     upper = 0
#     right = img.size[0]
#     bottom = img.size[1]
#     cropped_right= img.crop((left, upper, right, bottom))
#     #save setting by youreself
#     cropped_right.save('/content/drive/MyDrive/cut_panoramic/14Y/14Y-F/Lt/'+filename)
#     #flip ---------------------------------------------------
#     #read the image
#     im = Image.open('/content/drive/MyDrive/cut_panoramic/14Y/14Y-F/Lt/'+filename)

#     #flip image
#     out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
#     out.save('/content/drive/MyDrive/cut_panoramic/14Y/14Y-F/Lt/Flip_'+filename)

### Y14-M_Lt

In [ ]:
# from PIL import Image
# import matplotlib.pyplot as plt

# path = Y14M_2['Path_filename'].tolist()
# frac = 0.60
# for i in path:
#     filename = i.split("/")[-1]
#     img = Image.open(i)
#     print(i)
#     #right ---------------------------------------------------
#     left = img.size[0]*((1-frac))
#     upper = 0
#     right = img.size[0]
#     bottom = img.size[1]
#     cropped_right= img.crop((left, upper, right, bottom))
#     #save setting by youreself
#     cropped_right.save('/content/drive/MyDrive/cut_panoramic/14Y/14Y-M/Lt/'+filename)
#     #flip ---------------------------------------------------
#     #read the image
#     im = Image.open('/content/drive/MyDrive/cut_panoramic/14Y/14Y-M/Lt/'+filename)

#     #flip image
#     out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
#     out.save('/content/drive/MyDrive/cut_panoramic/14Y/14Y-M/Lt/Flip_'+filename)

### Y14-F_Rt

In [ ]:
# Y14F_3= df[(df['Class'] == 'Y14F')&(df['Floder']=='Rt')]#หญิง
# Y14F_3

In [ ]:
# from PIL import Image
# import matplotlib.pyplot as plt

# path = Y14F_3['Path_filename'].tolist()
# frac = 0.60
# for i in path:
#     filename = i.split("/")[-1]
#     img = Image.open(i)
#     print(i)#left---------------------------------------------------
#     left = 0
#     upper = 0
#     right = img.size[0]-((1-frac))*img.size[0] 
#     bottom = img.size[1]
#     cropped_left = img.crop((left, upper, right, bottom))
#     #save setting by youreself
#     cropped_left.save('/content/drive/MyDrive/cut_panoramic/14Y/14Y-F/Rt/'+filename)

### Y14-M_Rt

In [ ]:
# Y14M_3= df[(df['Class'] == 'Y14M')&(df['Floder']=='Rt')]#ชาย
# Y14M_3

In [ ]:
# from PIL import Image
# import matplotlib.pyplot as plt

# path = Y14M_3['Path_filename'].tolist()
# frac = 0.60
# for i in path:
#     filename = i.split("/")[-1]
#     img = Image.open(i)
#     print(i)#left---------------------------------------------------
#     left = 0
#     upper = 0
#     right = img.size[0]-((1-frac))*img.size[0] 
#     bottom = img.size[1]
#     cropped_left = img.crop((left, upper, right, bottom))
#     #save setting by youreself
#     cropped_left.save('/content/drive/MyDrive/cut_panoramic/14Y/14Y-M/Rt/'+filename)

# Y15
### Y15-F_Both

In [4]:
Y15F_1= df[(df['Class'] == 'Y15F')&(df['Floder']=='Both')]#Y15F#หญิง
Y15F_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1347,1,1,15,Y15F,B04.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Both
1348,2,2,15,Y15F,B07.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Both
1349,3,3,15,Y15F,B08.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Both
1350,4,4,15,Y15F,B10.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Both
1351,5,5,15,Y15F,B18.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Both
...,...,...,...,...,...,...,...,...
1422,76,76,15,Y15F,B222.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Both
1423,77,77,15,Y15F,B228.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Both
1424,78,78,15,Y15F,B231.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Both
1425,79,79,15,Y15F,B234.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Both
1426,80,80,15,Y15F,B235.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Both

In [6]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y15F_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/15Y/15Y-F/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/15Y/15Y-F/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/15Y/15Y-F/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/15Y/15Y-F/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B04.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B07.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B08.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B10.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B18.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B23.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B26.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B32.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B35.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B38.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B43.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B46.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B50.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B56.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B57.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B58.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B59.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B60.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B67.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B68.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B71.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B75.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B80.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B81.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B83.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B86.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B88.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B89.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B90.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B94.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B100.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B101.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B103.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B108.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B109.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B111.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B112.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B114.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B118.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B119.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B120.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B127.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B128.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B129.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B131.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B133.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B134.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B138.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B142.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B146.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B148.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B153.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B154.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B157.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B158.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B162.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B165.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B166.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B175.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B176.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B179.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B181.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B183.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B184.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B185.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B188.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B189.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B196.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B197.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B198.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B200.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B205.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B211.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B214.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B218.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B222.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B228.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B231.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B234.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Both/B235.jpg

### Y15-M_Both

In [7]:
Y15M_1 = df[(df['Class'] == 'Y15M')&(df['Floder']=='Both')] #Y11M#ชาย
Y15M_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1447,101,1,15,Y15M,B03.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1448,102,2,15,Y15M,B25.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1449,103,3,15,Y15M,B37.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1450,104,4,15,Y15M,B53.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1451,105,5,15,Y15M,B69.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1452,106,6,15,Y15M,B72.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1453,107,7,15,Y15M,B73.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1454,108,8,15,Y15M,B79.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1455,109,9,15,Y15M,B87.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1456,110,10,15,Y15M,B92.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1457,111,11,15,Y15M,B95.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1458,112,12,15,Y15M,B96.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1459,113,13,15,Y15M,B102.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1460,114,14,15,Y15M,B113.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1461,115,15,15,Y15M,B125.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1462,116,16,15,Y15M,B137.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1463,117,17,15,Y15M,B140.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1464,118,18,15,Y15M,B143.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1465,119,19,15,Y15M,B147.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1466,120,20,15,Y15M,B159.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1467,121,21,15,Y15M,B160.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1468,122,22,15,Y15M,B161.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1469,123,23,15,Y15M,B164.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1470,124,24,15,Y15M,B168.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1471,125,25,15,Y15M,B169.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1472,126,26,15,Y15M,B170.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1473,127,27,15,Y15M,B177.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1474,128,28,15,Y15M,B187.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1475,129,29,15,Y15M,B190.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1476,130,30,15,Y15M,B195.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1477,131,31,15,Y15M,B204.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1478,132,32,15,Y15M,B209.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1479,133,33,15,Y15M,B210.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1480,134,34,15,Y15M,B217.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1481,135,35,15,Y15M,B224.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1482,136,36,15,Y15M,B229.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1483,137,37,15,Y15M,B232.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1484,138,38,15,Y15M,B251.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1485,139,39,15,Y15M,B256.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1486,140,40,15,Y15M,B258.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1487,141,41,15,Y15M,B265.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1488,142,42,15,Y15M,B270.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1489,143,43,15,Y15M,B272.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1490,144,44,15,Y15M,B275.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1491,145,45,15,Y15M,B277.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1492,146,46,15,Y15M,B280.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1493,147,47,15,Y15M,B290.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1494,148,48,15,Y15M,B291.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1495,149,49,15,Y15M,B292.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1496,150,50,15,Y15M,B294.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1497,151,51,15,Y15M,B299.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1498,152,52,15,Y15M,B300.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both
1499,153,53,15,Y15M,B313.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Both

In [8]:

from PIL import Image
import matplotlib.pyplot as plt

path = Y15M_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/15Y/15Y-M/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/15Y/15Y-M/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/15Y/15Y-M/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/15Y/15Y-M/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B03.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B25.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B37.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B53.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B69.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B72.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B73.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B79.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B87.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B92.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B95.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B96.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B102.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B113.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B125.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B137.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B140.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B143.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B147.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B159.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B160.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B161.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B164.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B168.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B169.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B170.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B177.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B187.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B190.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B195.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B204.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B209.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B210.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B217.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B224.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B229.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B232.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B251.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B256.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B258.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B265.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B270.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B272.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B275.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B277.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B280.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B290.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B291.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B292.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B294.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B299.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B300.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Both/B313.jpg

### Y15-F_Lt

In [9]:
Y15F_2= df[(df['Class'] == 'Y15F')&(df['Floder']=='Lt')]#หญิง
Y15F_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1427,81,81,15,Y15F,B28.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Lt
1428,82,82,15,Y15F,B36.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Lt
1429,83,83,15,Y15F,B63.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Lt
1430,84,84,15,Y15F,B115.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Lt
1431,85,85,15,Y15F,B126.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Lt
1432,86,86,15,Y15F,B132.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Lt

In [10]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y15F_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/15Y/15Y-F/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/15Y/15Y-F/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/15Y/15Y-F/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/15 year/15Y - F/Lt/B28.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Lt/B36.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Lt/B63.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Lt/B115.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Lt/B126.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Lt/B132.jpg

### Y15-M_Lt

In [11]:
Y15M_2= df[(df['Class'] == 'Y15M')&(df['Floder']=='Lt')]#ชาย
Y15M_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1500,154,54,15,Y15M,B30.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Lt
1501,155,55,15,Y15M,B49.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Lt
1502,156,56,15,Y15M,B64.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Lt
1503,157,57,15,Y15M,B155.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Lt
1504,158,58,15,Y15M,B245.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Lt
1505,159,59,15,Y15M,B284.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Lt
1506,160,60,15,Y15M,B285.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Lt
1507,161,61,15,Y15M,B308.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Lt
1508,162,62,15,Y15M,B310.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Lt
1509,163,63,15,Y15M,B317.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Lt

In [12]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y15M_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/15Y/15Y-M/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/15Y/15Y-M/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/15Y/15Y-M/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/15 year/15Y - M/Lt/B30.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Lt/B49.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Lt/B64.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Lt/B155.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Lt/B245.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Lt/B284.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Lt/B285.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Lt/B308.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Lt/B310.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Lt/B317.jpg

### Y15-F_Rt

In [13]:
Y15F_3= df[(df['Class'] == 'Y15F')&(df['Floder']=='Rt')]#หญิง
Y15F_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1433,87,87,15,Y15F,B15.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Rt
1434,88,88,15,Y15F,B22.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Rt
1435,89,89,15,Y15F,B31.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Rt
1436,90,90,15,Y15F,B33.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Rt
1437,91,91,15,Y15F,B39.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Rt
1438,92,92,15,Y15F,B40.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Rt
1439,93,93,15,Y15F,B48.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Rt
1440,94,94,15,Y15F,B85.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Rt
1441,95,95,15,Y15F,B116.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Rt
1442,96,96,15,Y15F,B117.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Rt
1443,97,97,15,Y15F,B207.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Rt
1444,98,98,15,Y15F,B252.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Rt
1445,99,99,15,Y15F,B276.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Rt
1446,100,100,15,Y15F,B286.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศหญิง,Rt

In [14]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y15F_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/15Y/15Y-F/Rt/'+filename)

/content/drive/My Drive/Film pano/15 year/15Y - F/Rt/B15.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Rt/B22.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Rt/B31.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Rt/B33.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Rt/B39.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Rt/B40.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Rt/B48.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Rt/B85.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Rt/B116.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Rt/B117.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Rt/B207.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Rt/B252.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Rt/B276.jpg
/content/drive/My Drive/Film pano/15 year/15Y - F/Rt/B286.jpg

### Y15-M_Rt

In [15]:
Y15M_3= df[(df['Class'] == 'Y15M')&(df['Floder']=='Rt')]#ชาย
Y15M_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1510,164,64,15,Y15M,B16.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Rt
1511,165,65,15,Y15M,B99.jpg,/content/drive/My Drive/Film pano/15 year/15Y ...,เพศชาย,Rt

In [16]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y15M_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/15Y/15Y-M/Rt/'+filename)

/content/drive/My Drive/Film pano/15 year/15Y - M/Rt/B16.jpg
/content/drive/My Drive/Film pano/15 year/15Y - M/Rt/B99.jpg

# Y16
### Y16-F_Both

In [ ]:
Y16F_1= df[(df['Class'] == 'Y16F')&(df['Floder']=='Both')]#Y15F#หญิง
Y16F_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1347,1,1,16,Y16F,T14.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศหญิง,Both
1348,2,2,16,Y16F,T16.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศหญิง,Both
1350,4,4,16,Y16F,T21.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศหญิง,Both
1351,5,5,16,Y16F,T25.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศหญิง,Both
1352,6,6,16,Y16F,T26.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศหญิง,Both
...,...,...,...,...,...,...,...,...
1442,96,96,16,Y16F,T283.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศหญิง,Both
1443,97,97,16,Y16F,T288.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศหญิง,Both
1444,98,98,16,Y16F,T289.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศหญิง,Both
1445,99,99,16,Y16F,T291.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศหญิง,Both
1446,100,100,16,Y16F,T293.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศหญิง,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y16F_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/16Y/16Y-F/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/16Y/16Y-F/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/16Y/16Y-F/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/16Y/16Y-F/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T14.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T16.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T21.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T25.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T26.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T28.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T30.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T31.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T32.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T34.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T38.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T39.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T43.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T47.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T48.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T51.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T52.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T55.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T59.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T62.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T64.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T65.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T67.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T68.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T76.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T79.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T88.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T90.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T92.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T96.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T103.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T105.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T107.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T108.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T112.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T115.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T125.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T129.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T131.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T139.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T141.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T142.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T147.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T148.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T149.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T150.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T158.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T159.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T160.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T177.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T178.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T179.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T181.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T183.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T191.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T192.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T195.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T197.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T198.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T201.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T207.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T209.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T210.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T214.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T215.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T219.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T223.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T227.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T233.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T234.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T236.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T239.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T242.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T245.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T246.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T249.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T251.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T253.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T262.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T266.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T274.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T275.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T276.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T277.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T279.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T280.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T281.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T283.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T288.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T289.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T291.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Both/T293.jpg

### Y16-M_Both

In [ ]:
Y16M_1 = df[(df['Class'] == 'Y16M')&(df['Floder']=='Both')] #Y16M#ชาย
Y16M_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1447,101,1,16,Y16M,T03.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Both
1448,102,2,16,Y16M,T11.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Both
1449,103,3,16,Y16M,T13.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Both
1450,104,4,16,Y16M,T15.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Both
1451,105,5,16,Y16M,T17.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Both
...,...,...,...,...,...,...,...,...
1522,176,76,16,Y16M,T286.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Both
1523,177,77,16,Y16M,T290.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Both
1524,178,78,16,Y16M,T292.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Both
1526,180,80,16,Y16M,T295.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Both
1527,181,81,16,Y16M,T297.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y16M_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/16Y/16Y-M/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/16Y/16Y-M/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/16Y/16Y-M/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/16Y/16Y-M/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T03.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T11.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T13.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T15.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T17.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T23.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T24.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T35.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T36.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T61.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T66.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T69.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T73.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T81.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T82.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T83.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T86.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T87.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T91.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T94.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T95.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T98.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T99.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T102.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T109.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T114.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T117.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T119.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T121.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T133.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T134.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T137.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T143.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T144.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T145.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T155.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T165.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T168.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T173.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T176.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T202.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T206.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T208.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T213.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T216.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T220.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T222.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T228.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T230.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T231.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T232.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T235.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T237.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T243.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T250.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T258.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T261.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T265.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T269.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T273.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T286.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T290.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T292.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T295.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Both/T297.jpg

### Y16-F_Lt

In [ ]:
Y16F_2= df[(df['Class'] == 'Y16F')&(df['Floder']=='Lt')]#หญิง
Y16F_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1349,3,3,16,Y16F,T20.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศหญิง,Lt
1354,8,8,16,Y16F,T29.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศหญิง,Lt
1361,15,15,16,Y16F,T40.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศหญิง,Lt
1391,45,45,16,Y16F,T135.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศหญิง,Lt
1399,53,53,16,Y16F,T157.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศหญิง,Lt
1403,57,57,16,Y16F,T163.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศหญิง,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y16F_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/16Y/16Y-F/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/16Y/16Y-F/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/16Y/16Y-F/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/16 year/16Y - F/Lt/T20.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Lt/T29.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Lt/T40.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Lt/T135.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Lt/T157.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Lt/T163.jpg

### Y16-M_Lt

In [ ]:
Y16M_2= df[(df['Class'] == 'Y16M')&(df['Floder']=='Lt')]#ชาย
Y16M_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1456,110,10,16,Y16M,T37.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Lt
1457,111,11,16,Y16M,T53.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Lt
1462,116,16,16,Y16M,T75.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Lt
1463,117,17,16,Y16M,T80.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Lt
1476,130,30,16,Y16M,T104.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Lt
1482,136,36,16,Y16M,T128.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Lt
1496,150,50,16,Y16M,T187.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Lt
1497,151,51,16,Y16M,T194.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Lt
1502,156,56,16,Y16M,T212.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Lt
1520,174,74,16,Y16M,T272.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y16M_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/16Y/16Y-M/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/16Y/16Y-M/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/16Y/16Y-M/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/16 year/16Y - M/Lt/T37.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Lt/T53.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Lt/T75.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Lt/T80.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Lt/T104.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Lt/T128.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Lt/T187.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Lt/T194.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Lt/T212.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Lt/T272.jpg

### Y16-F_Rt

In [ ]:
Y16F_3= df[(df['Class'] == 'Y16F')&(df['Floder']=='Rt')]#หญิง
Y16F_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1363,17,17,16,Y16F,T44.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศหญิง,Rt
1371,25,25,16,Y16F,T63.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศหญิง,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y16F_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/16Y/16Y-F/Rt/'+filename)

/content/drive/My Drive/Film pano/16 year/16Y - F/Rt/T44.jpg
/content/drive/My Drive/Film pano/16 year/16Y - F/Rt/T63.jpg

### Y16-M_Rt

In [ ]:
Y16M_3= df[(df['Class'] == 'Y16M')&(df['Floder']=='Rt')]#ชาย
Y16M_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1467,121,21,16,Y16M,T85.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Rt
1483,137,37,16,Y16M,T130.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Rt
1491,145,45,16,Y16M,T164.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Rt
1501,155,55,16,Y16M,T200.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Rt
1519,173,73,16,Y16M,T271.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Rt
1525,179,79,16,Y16M,T294.jpg,/content/drive/My Drive/Film pano/16 year/16Y ...,เพศชาย,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y16M_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/16Y/16Y-M/Rt/'+filename)

/content/drive/My Drive/Film pano/16 year/16Y - M/Rt/T85.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Rt/T130.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Rt/T164.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Rt/T200.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Rt/T271.jpg
/content/drive/My Drive/Film pano/16 year/16Y - M/Rt/T294.jpg

# Y17
### Y17-F_Both

In [ ]:
Y17F_1= df[(df['Class'] == 'Y17F')&(df['Floder']=='Both')]#Y17F#หญิง
Y17F_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1529,2,2,17,Y17F,K05.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Both
1531,4,4,17,Y17F,K15.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Both
1532,5,5,17,Y17F,K19.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Both
1534,7,7,17,Y17F,K24.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Both
1535,8,8,17,Y17F,K26.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Both
...,...,...,...,...,...,...,...,...
1623,96,96,17,Y17F,K284.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Both
1624,97,97,17,Y17F,K289.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Both
1625,98,98,17,Y17F,K291.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Both
1626,99,99,17,Y17F,K295.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Both
1627,100,100,17,Y17F,K298.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y17F_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/17Y/17Y-F/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/17Y/17Y-F/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/17Y/17Y-F/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/17Y/17Y-F/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K05.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K15.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K19.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K24.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K26.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K29.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K32.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K33.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K35.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K38.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K41.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K44.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K45.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K47.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K48.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K50.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K53.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K58.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K60.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K61.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K63.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K70.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K76.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K78.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K79.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K81.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K83.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K97.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K98.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K102.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K103.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K104.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K109.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K112.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K113.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K123.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K125.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K127.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K128.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K131.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K133.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K135.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K138.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K141.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K145.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K155.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K157.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K162.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K167.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K176.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K177.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K180.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K183.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K186.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K195.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K198.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K199.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K201.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K206.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K213.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K214.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K219.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K226.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K229.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K230.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K232.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K234.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K251.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K253.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K261.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K263.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K264.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K271.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K272.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K275.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K279.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K282.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K284.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K289.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K291.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K295.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Both/K298.jpg

### Y17-M_Both

In [ ]:
Y17M_1 = df[(df['Class'] == 'Y17M')&(df['Floder']=='Both')] #Y7M#ชาย
Y17M_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1628,101,1,17,Y17M,K17.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1629,102,2,17,Y17M,K21.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1630,103,3,17,Y17M,K23.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1631,104,4,17,Y17M,K25.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1632,105,5,17,Y17M,K40.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1633,106,6,17,Y17M,K42.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1634,107,7,17,Y17M,K46.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1635,108,8,17,Y17M,K49.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1636,109,9,17,Y17M,K51.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1637,110,10,17,Y17M,K52.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1638,111,11,17,Y17M,K55.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1639,112,12,17,Y17M,K57.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1642,115,15,17,Y17M,K80.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1644,117,17,17,Y17M,K88.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1645,118,18,17,Y17M,K91.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1647,120,20,17,Y17M,K100.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1648,121,21,17,Y17M,K105.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1649,122,22,17,Y17M,K108.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1652,125,25,17,Y17M,K132.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1653,126,26,17,Y17M,K134.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1654,127,27,17,Y17M,K137.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1656,129,29,17,Y17M,K159.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1658,131,31,17,Y17M,K161.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1659,132,32,17,Y17M,K166.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1661,134,34,17,Y17M,K173.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1662,135,35,17,Y17M,K175.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1663,136,36,17,Y17M,K179.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1665,138,38,17,Y17M,K188.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1666,139,39,17,Y17M,K189.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1667,140,40,17,Y17M,K190.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1668,141,41,17,Y17M,K192.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1669,142,42,17,Y17M,K193.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1670,143,43,17,Y17M,K194.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1673,146,46,17,Y17M,K217.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1674,147,47,17,Y17M,K218.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1677,150,50,17,Y17M,K224.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1678,151,51,17,Y17M,K225.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1679,152,52,17,Y17M,K231.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1680,153,53,17,Y17M,K236.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1681,154,54,17,Y17M,K242.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1682,155,55,17,Y17M,K246.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1683,156,56,17,Y17M,K248.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1684,157,57,17,Y17M,K254.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1685,158,58,17,Y17M,K255.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1686,159,59,17,Y17M,K257.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1687,160,60,17,Y17M,K262.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1689,162,62,17,Y17M,K269.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1690,163,63,17,Y17M,K270.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1692,165,65,17,Y17M,K292.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both
1693,166,66,17,Y17M,K293.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y17M_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/17Y/17Y-M/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/17Y/17Y-M/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/17Y/17Y-M/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/17Y/17Y-M/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K17.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K21.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K23.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K25.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K40.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K42.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K46.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K49.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K51.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K52.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K55.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K57.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K80.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K88.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K91.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K100.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K105.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K108.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K132.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K134.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K137.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K159.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K161.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K166.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K173.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K175.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K179.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K188.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K189.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K190.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K192.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K193.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K194.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K217.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K218.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K224.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K225.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K231.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K236.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K242.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K246.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K248.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K254.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K255.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K257.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K262.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K269.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K270.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K292.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Both/K293.jpg

### Y17-F_Lt

In [ ]:
Y17F_2= df[(df['Class'] == 'Y17F')&(df['Floder']=='Lt')]#หญิง
Y17F_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1528,1,1,17,Y17F,K02.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Lt
1533,6,6,17,Y17F,K22.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Lt
1537,10,10,17,Y17F,K30.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Lt
1543,16,16,17,Y17F,K43.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Lt
1554,27,27,17,Y17F,K64.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Lt
1561,34,34,17,Y17F,K84.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Lt
1563,36,36,17,Y17F,K93.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Lt
1564,37,37,17,Y17F,K249.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Lt
1565,38,38,17,Y17F,K268.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Lt
1566,39,39,17,Y17F,K96.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Lt
1569,42,42,17,Y17F,K99.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Lt
1570,43,43,17,Y17F,K101.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Lt
1587,60,60,17,Y17F,K148.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Lt
1588,61,61,17,Y17F,K149.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Lt
1593,66,66,17,Y17F,K170.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Lt
1599,72,72,17,Y17F,K187.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y17F_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/17Y/17Y-F/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/17Y/17Y-F/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/17Y/17Y-F/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/17 year/17Y - F/Lt/K02.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Lt/K22.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Lt/K30.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Lt/K43.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Lt/K64.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Lt/K84.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Lt/K93.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Lt/K249.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Lt/K268.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Lt/K96.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Lt/K99.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Lt/K101.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Lt/K148.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Lt/K149.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Lt/K170.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Lt/K187.jpg

### Y17-M_Lt

In [ ]:
Y17M_2= df[(df['Class'] == 'Y17M')&(df['Floder']=='Lt')]#ชาย
Y17M_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1640,113,13,17,Y17M,K71.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Lt
1646,119,19,17,Y17M,K92.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Lt
1650,123,23,17,Y17M,K121.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Lt
1651,124,24,17,Y17M,K130.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Lt
1655,128,28,17,Y17M,K139.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Lt
1657,130,30,17,Y17M,K160.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Lt
1660,133,33,17,Y17M,K168.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Lt
1671,144,44,17,Y17M,K200.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Lt
1675,148,48,17,Y17M,K220.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Lt
1676,149,49,17,Y17M,K223.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y17M_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/17Y/17Y-M/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/17Y/17Y-M/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/17Y/17Y-M/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/17 year/17Y - M/Lt/K71.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Lt/K92.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Lt/K121.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Lt/K130.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Lt/K139.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Lt/K160.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Lt/K168.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Lt/K200.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Lt/K220.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Lt/K223.jpg

### Y17-F_Rt

In [ ]:
Y17F_3= df[(df['Class'] == 'Y17F')&(df['Floder']=='Rt')]#หญิง
Y17F_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1530,3,3,17,Y17F,K09.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Rt
1562,35,35,17,Y17F,K89.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศหญิง,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y17F_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/17Y/17Y-F/Rt/'+filename)

/content/drive/My Drive/Film pano/17 year/17Y - F/Rt/K09.jpg
/content/drive/My Drive/Film pano/17 year/17Y - F/Rt/K89.jpg

### Y17-M_Rt

In [ ]:
Y17M_3= df[(df['Class'] == 'Y17M')&(df['Floder']=='Rt')]#ชาย
Y17M_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1641,114,14,17,Y17M,K74.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Rt
1643,116,16,17,Y17M,K85.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Rt
1664,137,37,17,Y17M,K182.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Rt
1672,145,45,17,Y17M,K211.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Rt
1688,161,61,17,Y17M,K266.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Rt
1691,164,64,17,Y17M,K273.jpg,/content/drive/My Drive/Film pano/17 year/17Y ...,เพศชาย,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y17M_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/17Y/17Y-M/Rt/'+filename)

/content/drive/My Drive/Film pano/17 year/17Y - M/Rt/K74.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Rt/K85.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Rt/K182.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Rt/K211.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Rt/K266.jpg
/content/drive/My Drive/Film pano/17 year/17Y - M/Rt/K273.jpg

# Y18
### Y18-F_Both

In [ ]:
Y18F_1= df[(df['Class'] == 'Y18F')&(df['Floder']=='Both')]#Y18F#หญิง
Y18F_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1694,1,1,18,Y18F,S02.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศหญิง,Both
1695,2,2,18,Y18F,S08.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศหญิง,Both
1697,4,4,18,Y18F,S16.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศหญิง,Both
1698,5,5,18,Y18F,S20.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศหญิง,Both
1699,6,6,18,Y18F,S28.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศหญิง,Both
...,...,...,...,...,...,...,...,...
1789,96,96,18,Y18F,S286.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศหญิง,Both
1790,97,97,18,Y18F,S290.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศหญิง,Both
1791,98,98,18,Y18F,S291.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศหญิง,Both
1792,99,99,18,Y18F,S292.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศหญิง,Both
1793,100,100,18,Y18F,S294.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศหญิง,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y18F_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/18Y/18Y-F/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/18Y/18Y-F/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/18Y/18Y-F/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/18Y/18Y-F/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S02.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S08.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S16.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S20.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S28.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S30.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S31.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S38.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S47.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S48.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S49.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S56.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S59.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S62.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S64.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S65.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S66.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S69.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S71.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S78.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S79.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S82.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S84.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S85.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S86.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S89.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S90.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S91.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S94.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S95.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S98.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S100.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S102.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S109.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S117.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S120.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S124.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S126.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S128.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S129.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S132.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S141.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S142.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S149.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S151.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S152.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S153.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S155.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S158.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S159.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S160.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S165.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S167.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S169.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S186.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S189.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S191.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S195.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S200.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S201.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S202.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S203.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S204.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S208.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S211.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S216.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S227.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S233.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S237.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S239.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S241.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S247.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S250.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S251.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S256.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S262.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S266.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S267.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S271.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S272.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S275.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S280.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S281.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S282.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S283.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S284.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S286.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S290.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S291.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S292.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Both/S294.jpg

### Y18-M_Both

In [ ]:
Y18M_1= df[(df['Class'] == 'Y18M')&(df['Floder']=='Both')]#Y8M#ชาย
Y18M_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1794,101,1,18,Y18M,S07.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1796,103,3,18,Y18M,S13.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1797,104,4,18,Y18M,S14.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1798,105,5,18,Y18M,S15.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1799,106,6,18,Y18M,S18.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1801,108,8,18,Y18M,S50.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1802,109,9,18,Y18M,S51.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1803,110,10,18,Y18M,S52.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1805,112,12,18,Y18M,S55.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1806,113,13,18,Y18M,S58.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1807,114,14,18,Y18M,S60.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1809,116,16,18,Y18M,S76.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1810,117,17,18,Y18M,S77.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1811,118,18,18,Y18M,S80.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1812,119,19,18,Y18M,S81.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1813,120,20,18,Y18M,S87.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1814,121,21,18,Y18M,S97.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1815,122,22,18,Y18M,S104.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1816,123,23,18,Y18M,S136.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1817,124,24,18,Y18M,S137.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1818,125,25,18,Y18M,S138.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1819,126,26,18,Y18M,S154.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1820,127,27,18,Y18M,S162.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1821,128,28,18,Y18M,S164.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1822,129,29,18,Y18M,S180.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1823,130,30,18,Y18M,S190.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1824,131,31,18,Y18M,S192.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1825,132,32,18,Y18M,S194.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1826,133,33,18,Y18M,S205.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1828,135,35,18,Y18M,S218.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1829,136,36,18,Y18M,S223.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1831,138,38,18,Y18M,S231.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1832,139,39,18,Y18M,S240.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1835,142,42,18,Y18M,S261.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1836,143,43,18,Y18M,S264.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1837,144,44,18,Y18M,S268.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1838,145,45,18,Y18M,S270.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1839,146,46,18,Y18M,S274.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both
1840,147,47,18,Y18M,S276.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y18M_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/18Y/18Y-M/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/18Y/18Y-M/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/18Y/18Y-M/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/18Y/18Y-M/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S07.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S13.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S14.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S15.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S18.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S50.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S51.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S52.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S55.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S58.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S60.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S76.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S77.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S80.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S81.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S87.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S97.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S104.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S136.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S137.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S138.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S154.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S162.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S164.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S180.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S190.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S192.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S194.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S205.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S218.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S223.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S231.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S240.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S261.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S264.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S268.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S270.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S274.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Both/S276.jpg

### Y18-F_Lt

In [ ]:
Y18F_2= df[(df['Class'] == 'Y18F')&(df['Floder']=='Lt')]#หญิง
Y18F_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1696,3,3,18,Y18F,S12.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศหญิง,Lt
1703,10,10,18,Y18F,S33.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศหญิง,Lt
1706,13,13,18,Y18F,S36.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศหญิง,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y18F_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/18Y/18Y-F/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/18Y/18Y-F/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/18Y/18Y-F/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/18 year/18Y - F/Lt/S12.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Lt/S33.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Lt/S36.jpg

Y18-M_Lt

In [ ]:
Y18M_2= df[(df['Class'] == 'Y18M')&(df['Floder']=='Lt')]#ชาย
Y18M_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1804,111,11,18,Y18M,S53.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Lt
1827,134,34,18,Y18M,S209.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Lt
1830,137,37,18,Y18M,S228.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y18M_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/18Y/18Y-M/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/18Y/18Y-M/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/18Y/18Y-M/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/18 year/18Y - M/Lt/S53.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Lt/S209.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Lt/S228.jpg

### Y18-F_Rt

In [ ]:
Y18F_3= df[(df['Class'] == 'Y18F')&(df['Floder']=='Rt')]#หญิง
Y18F_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1702,9,9,18,Y18F,S32.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศหญิง,Rt
1704,11,11,18,Y18F,S34.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศหญิง,Rt
1705,12,12,18,Y18F,S35.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศหญิง,Rt
1708,15,15,18,Y18F,S40.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศหญิง,Rt
1709,16,16,18,Y18F,S42.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศหญิง,Rt
1721,28,28,18,Y18F,S74.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศหญิง,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y18F_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/18Y/18Y-F/Rt/'+filename)

/content/drive/My Drive/Film pano/18 year/18Y - F/Rt/S32.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Rt/S34.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Rt/S35.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Rt/S40.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Rt/S42.jpg
/content/drive/My Drive/Film pano/18 year/18Y - F/Rt/S74.jpg

Y18-M_Rt

In [ ]:
Y18M_3= df[(df['Class'] == 'Y18M')&(df['Floder']=='Rt')]#ชาย
Y18M_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1795,102,2,18,Y18M,S11.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Rt
1800,107,7,18,Y18M,S46.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Rt
1808,115,15,18,Y18M,S63.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Rt
1833,140,40,18,Y18M,S249.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Rt
1834,141,41,18,Y18M,S257.jpg,/content/drive/My Drive/Film pano/18 year/18Y ...,เพศชาย,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y18M_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/18Y/18Y-M/Rt/'+filename)

/content/drive/My Drive/Film pano/18 year/18Y - M/Rt/S11.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Rt/S46.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Rt/S63.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Rt/S249.jpg
/content/drive/My Drive/Film pano/18 year/18Y - M/Rt/S257.jpg

# Y19
### Y19-F_Both

In [ ]:
Y19F_1= df[(df['Class'] == 'Y19F')&(df['Floder']=='Both')]#Y9F#หญิง
Y19F_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1841,1,1,19,Y19F,L01.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Both
1842,2,2,19,Y19F,L12.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Both
1843,3,3,19,Y19F,L15.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Both
1844,4,4,19,Y19F,L17.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Both
1845,5,5,19,Y19F,L18.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Both
...,...,...,...,...,...,...,...,...
1911,71,71,19,Y19F,L292.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Both
1912,72,72,19,Y19F,L293.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Both
1913,73,73,19,Y19F,L294.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Both
1914,74,74,19,Y19F,L297.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Both
1915,75,75,19,Y19F,L299.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y19F_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/19Y/19Y-F/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/19Y/19Y-F/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/19Y/19Y-F/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/19Y/19Y-F/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L01.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L12.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L15.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L17.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L18.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L25.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L28.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L31.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L40.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L43.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L45.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L51.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L57.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L64.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L71.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L72.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L82.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L93.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L94.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L101.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L105.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L118.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L132.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L135.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L143.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L145.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L146.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L150.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L151.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L153.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L154.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L155.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L157.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L158.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L160.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L162.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L163.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L165.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L168.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L174.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L175.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L177.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L178.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L183.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L184.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L188.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L200.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L212.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L218.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L219.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L220.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L222.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L230.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L231.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L232.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L236.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L240.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L244.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L245.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L249.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L250.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L262.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L267.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L270.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L271.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L277.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L278.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L280.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L281.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L287.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L292.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L293.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L294.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L297.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Both/L299.jpg

### Y19-M_Both

In [ ]:
Y19M_1 = df[(df['Class'] == 'Y19M')&(df['Floder']=='Both')] #Y9M#ชาย
Y19M_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1941,101,1,19,Y19M,L09.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1942,102,2,19,Y19M,L20.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1943,103,3,19,Y19M,L33.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1944,104,4,19,Y19M,L35.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1945,105,5,19,Y19M,L37.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1946,106,6,19,Y19M,L39.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1947,107,7,19,Y19M,L49.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1948,108,8,19,Y19M,L56.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1949,109,9,19,Y19M,L65.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1950,110,10,19,Y19M,L74.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1951,111,11,19,Y19M,L79.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1952,112,12,19,Y19M,L87.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1953,113,13,19,Y19M,L88.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1954,114,14,19,Y19M,L92.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1955,115,15,19,Y19M,L98.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1956,116,16,19,Y19M,L102.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1957,117,17,19,Y19M,L104.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1958,118,18,19,Y19M,L109.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1959,119,19,19,Y19M,L122.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1960,120,20,19,Y19M,L129.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1961,121,21,19,Y19M,L131.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1962,122,22,19,Y19M,L140.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1963,123,23,19,Y19M,L147.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1964,124,24,19,Y19M,L179.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1965,125,25,19,Y19M,L186.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1966,126,26,19,Y19M,L190.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1967,127,27,19,Y19M,L198.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1968,128,28,19,Y19M,L211.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1969,129,29,19,Y19M,L215.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1970,130,30,19,Y19M,L224.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1971,131,31,19,Y19M,L233.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1972,132,32,19,Y19M,L252.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1973,133,33,19,Y19M,L275.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1974,134,34,19,Y19M,L288.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both
1975,135,35,19,Y19M,L300.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y19M_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/19Y/19Y-M/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/19Y/19Y-M/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/19Y/19Y-M/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/19Y/19Y-M/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L09.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L20.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L33.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L35.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L37.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L39.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L49.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L56.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L65.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L74.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L79.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L87.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L88.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L92.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L98.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L102.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L104.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L109.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L122.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L129.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L131.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L140.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L147.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L179.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L186.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L190.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L198.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L211.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L215.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L224.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L233.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L252.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L275.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L288.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Both/L300.jpg

### Y19-F_Lt

In [ ]:
Y19F_2= df[(df['Class'] == 'Y19F')&(df['Floder']=='Lt')]#หญิง
Y19F_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1916,76,76,19,Y19F,L10.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Lt
1917,77,77,19,Y19F,L24.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Lt
1918,78,78,19,Y19F,L27.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Lt
1919,79,79,19,Y19F,L34.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Lt
1920,80,80,19,Y19F,L38.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Lt
1921,81,81,19,Y19F,L66.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Lt
1922,82,82,19,Y19F,L68.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Lt
1923,83,83,19,Y19F,L69.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Lt
1924,84,84,19,Y19F,L75.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Lt
1925,85,85,19,Y19F,L100.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Lt
1926,86,86,19,Y19F,L103.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Lt
1927,87,87,19,Y19F,L124.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Lt
1928,88,88,19,Y19F,L138.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Lt
1929,89,89,19,Y19F,L176.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Lt
1930,90,90,19,Y19F,L223.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Lt
1931,91,91,19,Y19F,L227.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Lt
1932,92,92,19,Y19F,L234.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Lt
1933,93,93,19,Y19F,L260.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Lt
1934,94,94,19,Y19F,L286.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y19F_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/19Y/19Y-F/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/19Y/19Y-F/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/19Y/19Y-F/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/19 year/19Y - F/Lt/L10.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Lt/L24.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Lt/L27.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Lt/L34.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Lt/L38.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Lt/L66.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Lt/L68.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Lt/L69.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Lt/L75.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Lt/L100.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Lt/L103.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Lt/L124.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Lt/L138.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Lt/L176.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Lt/L223.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Lt/L227.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Lt/L234.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Lt/L260.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Lt/L286.jpg

### Y19-M_Lt

In [ ]:
Y19M_2= df[(df['Class'] == 'Y19M')&(df['Floder']=='Lt')]#ชาย
Y19M_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1976,136,36,19,Y19M,L46.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Lt
1977,137,37,19,Y19M,L48.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Lt
1978,138,38,19,Y19M,L55.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Lt
1979,139,39,19,Y19M,L63.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Lt
1980,140,40,19,Y19M,L117.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Lt
1981,141,41,19,Y19M,L123.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Lt
1982,142,42,19,Y19M,L142.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Lt
1983,143,43,19,Y19M,L181.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Lt
1984,144,44,19,Y19M,L251.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Lt
1985,145,45,19,Y19M,L296.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Lt
1986,146,46,19,Y19M,L298.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Lt

In [ ]:

from PIL import Image
import matplotlib.pyplot as plt

path = Y19M_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/19Y/19Y-M/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/19Y/19Y-M/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/19Y/19Y-M/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/19 year/19Y - M/Lt/L46.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Lt/L48.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Lt/L55.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Lt/L63.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Lt/L117.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Lt/L123.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Lt/L142.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Lt/L181.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Lt/L251.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Lt/L296.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Lt/L298.jpg

### Y19-F_Rt

In [ ]:
Y19F_3= df[(df['Class'] == 'Y19F')&(df['Floder']=='Rt')]#หญิง
Y19F_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1935,95,95,19,Y19F,L42.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Rt
1936,96,96,19,Y19F,L44.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Rt
1937,97,97,19,Y19F,L53.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Rt
1938,98,98,19,Y19F,L76.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Rt
1939,99,99,19,Y19F,L91.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Rt
1940,100,100,19,Y19F,L96.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศหญิง,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y19F_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/19Y/19Y-F/Rt/'+filename)

/content/drive/My Drive/Film pano/19 year/19Y - F/Rt/L42.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Rt/L44.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Rt/L53.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Rt/L76.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Rt/L91.jpg
/content/drive/My Drive/Film pano/19 year/19Y - F/Rt/L96.jpg

### Y19-M_Rt

In [ ]:
Y19M_3= df[(df['Class'] == 'Y19M')&(df['Floder']=='Rt')]#ชาย
Y19M_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
1987,147,47,19,Y19M,L78.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Rt
1988,148,48,19,Y19M,L108.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Rt
1989,149,49,19,Y19M,L171.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Rt
1990,150,50,19,Y19M,L182.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Rt
1991,151,51,19,Y19M,L221.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Rt
1992,152,52,19,Y19M,L229.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Rt
1993,153,53,19,Y19M,L258.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Rt
1994,154,54,19,Y19M,L269.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Rt
1995,155,55,19,Y19M,L289.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Rt
1996,156,56,19,Y19M,L290.jpg,/content/drive/My Drive/Film pano/19 year/19Y ...,เพศชาย,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y19M_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/19Y/19Y-M/Rt/'+filename)

/content/drive/My Drive/Film pano/19 year/19Y - M/Rt/L78.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Rt/L108.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Rt/L171.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Rt/L182.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Rt/L221.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Rt/L229.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Rt/L258.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Rt/L269.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Rt/L289.jpg
/content/drive/My Drive/Film pano/19 year/19Y - M/Rt/L290.jpg

# Y20
### Y20-F_Both

In [17]:
Y20F_1= df[(df['Class'] == 'Y20F')&(df['Floder']=='Both')]#Y10F#หญิง
Y20F_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2162,1,1,20,Y20F,Q08.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2163,2,2,20,Y20F,Q15.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2164,3,3,20,Y20F,Q21.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2165,4,4,20,Y20F,Q26.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2166,5,5,20,Y20F,Q28.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2167,6,6,20,Y20F,Q31.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2168,7,7,20,Y20F,Q32.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2169,8,8,20,Y20F,Q45.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2170,9,9,20,Y20F,Q52.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2171,10,10,20,Y20F,Q53.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2172,11,11,20,Y20F,Q59.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2173,12,12,20,Y20F,Q66.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2174,13,13,20,Y20F,Q68.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2175,14,14,20,Y20F,Q76.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2176,15,15,20,Y20F,Q77.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2177,16,16,20,Y20F,Q82.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2178,17,17,20,Y20F,Q88.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2179,18,18,20,Y20F,Q89.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2180,19,19,20,Y20F,Q97.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2181,20,20,20,Y20F,Q100.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2182,21,21,20,Y20F,Q120.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2183,22,22,20,Y20F,Q121.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2184,23,23,20,Y20F,Q126.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2185,24,24,20,Y20F,Q130.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2186,25,25,20,Y20F,Q133.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2187,26,26,20,Y20F,Q135.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2188,27,27,20,Y20F,Q141.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2189,28,28,20,Y20F,Q142.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2190,29,29,20,Y20F,Q147.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2191,30,30,20,Y20F,Q149.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2192,31,31,20,Y20F,Q150.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2193,32,32,20,Y20F,Q152.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2194,33,33,20,Y20F,Q153.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2195,34,34,20,Y20F,Q159.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2196,35,35,20,Y20F,Q162.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2197,36,36,20,Y20F,Q163.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2198,37,37,20,Y20F,Q166.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2199,38,38,20,Y20F,Q171.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2200,39,39,20,Y20F,Q177.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2201,40,40,20,Y20F,Q183.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2202,41,41,20,Y20F,Q187.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2203,42,42,20,Y20F,Q191.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2204,43,43,20,Y20F,Q197.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2205,44,44,20,Y20F,Q199.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2206,45,45,20,Y20F,Q208.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2207,46,46,20,Y20F,Q214.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2208,47,47,20,Y20F,Q216.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2209,48,48,20,Y20F,Q234.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2210,49,49,20,Y20F,Q235.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2211,50,50,20,Y20F,Q244.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2212,51,51,20,Y20F,Q249.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2213,52,52,20,Y20F,Q250.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2214,53,53,20,Y20F,Q251.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2215,54,54,20,Y20F,Q253.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2216,55,55,20,Y20F,Q254.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2217,56,56,20,Y20F,Q264.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2218,57,57,20,Y20F,Q270.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2219,58,58,20,Y20F,Q283.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2220,59,59,20,Y20F,Q288.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both
2221,60,60,20,Y20F,Q293.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Both

In [18]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y20F_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/20Y/20Y-F/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/20Y/20Y-F/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/20Y/20Y-F/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/20Y/20Y-F/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q08.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q15.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q21.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q26.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q28.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q31.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q32.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q45.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q52.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q53.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q59.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q66.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q68.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q76.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q77.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q82.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q88.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q89.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q97.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q100.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q120.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q121.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q126.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q130.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q133.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q135.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q141.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q142.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q147.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q149.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q150.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q152.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q153.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q159.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q162.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q163.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q166.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q171.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q177.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q183.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q187.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q191.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q197.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q199.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q208.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q214.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q216.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q234.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q235.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q244.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q249.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q250.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q251.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q253.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q254.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q264.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q270.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q283.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q288.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Both/Q293.jpg

### Y20-M_Both

In [19]:
Y20M_1 = df[(df['Class'] == 'Y20M')&(df['Floder']=='Both')] #Y20M#ชาย
Y20M_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2261,100,1,20,Y20M,Q13.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2262,101,2,20,Y20M,Q14.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2263,102,3,20,Y20M,Q19.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2264,103,4,20,Y20M,Q22.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2265,104,5,20,Y20M,Q25.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2266,105,6,20,Y20M,Q27.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2267,106,7,20,Y20M,Q35.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2268,107,8,20,Y20M,Q38.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2269,108,9,20,Y20M,Q39.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2270,109,10,20,Y20M,Q41.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2271,110,11,20,Y20M,Q61.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2272,111,12,20,Y20M,Q62.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2273,112,13,20,Y20M,Q64.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2274,113,14,20,Y20M,Q67.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2275,114,15,20,Y20M,Q71.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2276,115,16,20,Y20M,Q90.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2277,116,17,20,Y20M,Q96.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2278,117,18,20,Y20M,Q131.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2279,118,19,20,Y20M,Q132.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2280,119,20,20,Y20M,Q134.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2281,120,21,20,Y20M,Q137.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2282,121,22,20,Y20M,Q148.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2283,122,23,20,Y20M,Q168.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2284,123,24,20,Y20M,Q170.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2285,124,25,20,Y20M,Q172.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2286,125,26,20,Y20M,Q175.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2287,126,27,20,Y20M,Q176.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2288,127,28,20,Y20M,Q180.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2289,128,29,20,Y20M,Q232.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2290,129,30,20,Y20M,Q242.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2291,130,31,20,Y20M,Q247.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2292,131,32,20,Y20M,Q257.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2293,132,33,20,Y20M,Q260.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2294,133,34,20,Y20M,Q274.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2295,134,35,20,Y20M,Q284.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2296,135,36,20,Y20M,Q285.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2297,136,37,20,Y20M,Q289.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2298,137,38,20,Y20M,Q290.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2299,138,39,20,Y20M,Q299.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both
2300,139,40,20,Y20M,Q300.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Both

In [20]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y20M_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/20Y/20Y-M/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/20Y/20Y-M/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/20Y/20Y-M/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/20Y/20Y-M/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q13.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q14.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q19.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q22.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q25.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q27.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q35.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q38.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q39.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q41.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q61.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q62.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q64.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q67.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q71.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q90.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q96.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q131.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q132.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q134.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q137.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q148.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q168.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q170.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q172.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q175.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q176.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q180.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q232.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q242.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q247.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q257.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q260.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q274.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q284.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q285.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q289.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q290.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q299.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Both/Q300.jpg

### Y20-F_Lt

In [ ]:
Y20F_2= df[(df['Class'] == 'Y20F')&(df['Floder']=='Lt')]#หญิง
Y20F_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2057,61,61,20,Y20F,Q40.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Lt
2058,62,62,20,Y20F,Q49.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Lt
2059,63,63,20,Y20F,Q50.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Lt
2060,64,64,20,Y20F,Q56.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Lt
2061,65,65,20,Y20F,Q65.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Lt
2062,66,66,20,Y20F,Q83.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Lt
2063,67,67,20,Y20F,Q84.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Lt
2064,68,68,20,Y20F,Q85.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Lt
2065,69,69,20,Y20F,Q107.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Lt
2066,70,70,20,Y20F,Q109.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Lt
2067,71,71,20,Y20F,Q112.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Lt
2068,72,72,20,Y20F,Q146.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Lt
2069,73,73,20,Y20F,Q151.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Lt
2070,74,74,20,Y20F,Q156.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Lt
2071,75,75,20,Y20F,Q157.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Lt
2072,76,76,20,Y20F,Q158.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Lt
2073,77,77,20,Y20F,Q205.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Lt
2074,78,78,20,Y20F,Q217.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Lt
2075,79,79,20,Y20F,Q233.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Lt
2076,80,80,20,Y20F,Q262.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Lt
2077,81,81,20,Y20F,Q279.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Lt
2078,82,82,20,Y20F,Q292.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y20F_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/20Y/20Y-F/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/20Y/20Y-F/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/20Y/20Y-F/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/20 year/20Y - F/Lt/Q40.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Lt/Q49.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Lt/Q50.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Lt/Q56.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Lt/Q65.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Lt/Q83.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Lt/Q84.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Lt/Q85.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Lt/Q107.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Lt/Q109.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Lt/Q112.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Lt/Q146.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Lt/Q151.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Lt/Q156.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Lt/Q157.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Lt/Q158.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Lt/Q205.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Lt/Q217.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Lt/Q233.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Lt/Q262.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Lt/Q279.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Lt/Q292.jpg

### Y20-M_Lt

In [ ]:
Y20M_2= df[(df['Class'] == 'Y20M')&(df['Floder']=='Lt')]#ชาย
Y20M_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2136,140,41,20,Y20M,Q37.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Lt
2137,141,42,20,Y20M,Q94.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Lt
2138,142,43,20,Y20M,Q108.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Lt
2139,143,44,20,Y20M,Q123.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Lt
2140,144,45,20,Y20M,Q161.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Lt
2141,145,46,20,Y20M,Q229.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y20M_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/20Y/20Y-M/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/20Y/20Y-M/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/20Y/20Y-M/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/20 year/20Y - M/Lt/Q37.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Lt/Q94.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Lt/Q108.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Lt/Q123.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Lt/Q161.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Lt/Q229.jpg

### Y20-F_Rt

In [ ]:
Y20F_3= df[(df['Class'] == 'Y20F')&(df['Floder']=='Rt')]#หญิง
Y20F_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2079,83,83,20,Y20F,Q20.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Rt
2080,84,84,20,Y20F,Q33.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Rt
2081,85,85,20,Y20F,Q34.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Rt
2082,86,86,20,Y20F,Q43.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Rt
2083,87,87,20,Y20F,Q47.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Rt
2084,88,88,20,Y20F,Q55.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Rt
2085,89,89,20,Y20F,Q74.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Rt
2086,90,90,20,Y20F,Q75.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Rt
2087,91,91,20,Y20F,Q101.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Rt
2088,92,92,20,Y20F,Q119.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Rt
2089,93,93,20,Y20F,Q167.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Rt
2090,94,94,20,Y20F,Q195.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Rt
2091,95,95,20,Y20F,Q201.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Rt
2092,96,96,20,Y20F,Q211.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Rt
2093,97,97,20,Y20F,Q259.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Rt
2094,98,98,20,Y20F,Q263.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Rt
2095,99,99,20,Y20F,Q281.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศหญิง,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y20F_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/20Y/20Y-F/Rt/'+filename)

/content/drive/My Drive/Film pano/20 year/20Y - F/Rt/Q20.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Rt/Q33.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Rt/Q34.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Rt/Q43.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Rt/Q47.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Rt/Q55.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Rt/Q74.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Rt/Q75.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Rt/Q101.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Rt/Q119.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Rt/Q167.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Rt/Q195.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Rt/Q201.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Rt/Q211.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Rt/Q259.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Rt/Q263.jpg
/content/drive/My Drive/Film pano/20 year/20Y - F/Rt/Q281.jpg

### Y20-M_Rt

In [ ]:
Y20M_3= df[(df['Class'] == 'Y20M')&(df['Floder']=='Rt')]#ชาย
Y20M_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2142,146,47,20,Y20M,Q70.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Rt
2143,147,48,20,Y20M,Q113.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Rt
2144,148,49,20,Y20M,Q209.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Rt
2145,149,50,20,Y20M,Q215.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Rt
2146,150,51,20,Y20M,Q297.jpg,/content/drive/My Drive/Film pano/20 year/20Y ...,เพศชาย,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y20M_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/20Y/20Y-M/Rt/'+filename)

/content/drive/My Drive/Film pano/20 year/20Y - M/Rt/Q70.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Rt/Q113.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Rt/Q209.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Rt/Q215.jpg
/content/drive/My Drive/Film pano/20 year/20Y - M/Rt/Q297.jpg

# Y21
### Y21-F_Both

In [21]:
Y21F_1= df[(df['Class'] == 'Y21F')&(df['Floder']=='Both')]#Y10F#หญิง
Y21F_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2344,33,33,21,Y21F,N18.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Both
2345,34,34,21,Y21F,N19.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Both
2346,35,35,21,Y21F,N26.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Both
2347,36,36,21,Y21F,N27.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Both
2348,37,37,21,Y21F,N29.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Both
...,...,...,...,...,...,...,...,...
2407,96,96,21,Y21F,N239.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Both
2408,97,97,21,Y21F,N241.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Both
2409,98,98,21,Y21F,N242.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Both
2410,99,99,21,Y21F,N252.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Both
2411,100,100,21,Y21F,N255.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Both

In [22]:

from PIL import Image
import matplotlib.pyplot as plt

path = Y21F_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/21Y/21Y-F/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/21Y/21Y-F/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/21Y/21Y-F/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/21Y/21Y-F/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N18.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N19.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N26.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N27.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N29.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N33.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N34.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N41.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N46.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N52.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N54.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N55.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N60.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N63.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N70.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N72.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N78.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N79.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N80.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N85.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N90.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N91.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N111.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N113.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N117.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N119.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N127.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N132.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N134.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N135.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N136.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N138.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N142.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N143.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N149.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N150.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N158.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N160.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N162.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N164.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N167.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N168.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N170.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N173.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N178.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N182.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N184.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N188.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N190.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N193.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N194.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N201.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N203.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N206.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N210.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N214.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N215.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N221.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N222.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N223.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N227.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N228.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N238.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N239.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N241.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N242.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N252.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Both/N255.jpg

### Y21-M_Both

In [ ]:
Y21M_1 = df[(df['Class'] == 'Y21M')&(df['Floder']=='Both')] #Y21M#ชาย
Y21M_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2247,101,1,21,Y21M,N25.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2248,102,2,21,Y21M,N38.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2249,103,3,21,Y21M,N47.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2250,104,4,21,Y21M,N48.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2251,105,5,21,Y21M,N58.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2252,106,6,21,Y21M,N61.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2253,107,7,21,Y21M,N62.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2254,108,8,21,Y21M,N67.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2255,109,9,21,Y21M,N71.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2256,110,10,21,Y21M,N75.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2257,111,11,21,Y21M,N76.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2258,112,12,21,Y21M,N92.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2259,113,13,21,Y21M,N109.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2260,114,14,21,Y21M,N126.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2261,115,15,21,Y21M,N139.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2262,116,16,21,Y21M,N146.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2263,117,17,21,Y21M,N163.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2264,118,18,21,Y21M,N179.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2265,119,19,21,Y21M,N189.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2266,120,20,21,Y21M,N202.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2267,121,21,21,Y21M,N204.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2268,122,22,21,Y21M,N207.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2269,123,23,21,Y21M,N220.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2270,124,24,21,Y21M,N231.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2271,125,25,21,Y21M,N240.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2272,126,26,21,Y21M,N249.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2273,127,27,21,Y21M,N266.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2274,128,28,21,Y21M,N271.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2275,129,29,21,Y21M,N274.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2276,130,30,21,Y21M,N276.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2277,131,31,21,Y21M,N293.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2278,132,32,21,Y21M,N298.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2279,133,33,21,Y21M,N306.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2280,134,34,21,Y21M,N313.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2281,135,35,21,Y21M,N314.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2282,136,36,21,Y21M,N316.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2283,137,37,21,Y21M,N317.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2284,138,38,21,Y21M,N339.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2285,139,39,21,Y21M,N343.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2286,140,40,21,Y21M,N359.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2287,141,41,21,Y21M,N387.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both
2288,142,42,21,Y21M,N394.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y21M_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/21Y/21Y-M/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/21Y/21Y-M/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/21Y/21Y-M/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/21Y/21Y-M/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N25.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N38.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N47.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N48.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N58.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N61.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N62.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N67.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N71.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N75.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N76.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N92.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N109.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N126.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N139.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N146.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N163.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N179.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N189.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N202.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N204.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N207.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N220.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N231.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N240.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N249.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N266.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N271.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N274.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N276.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N293.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N298.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N306.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N313.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N314.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N316.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N317.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N339.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N343.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N359.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N387.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Both/N394.jpg

### Y21-F_Lt

In [ ]:
Y21F_2= df[(df['Class'] == 'Y21F')&(df['Floder']=='Lt')]#หญิง
Y21F_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2160,14,14,21,Y21F,N14.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Lt
2161,15,15,21,Y21F,N36.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Lt
2162,16,16,21,Y21F,N43.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Lt
2163,17,17,21,Y21F,N77.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Lt
2164,18,18,21,Y21F,N87.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Lt
2165,19,19,21,Y21F,N106.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Lt
2166,20,20,21,Y21F,N107.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Lt
2167,21,21,21,Y21F,N121.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Lt
2168,22,22,21,Y21F,N124.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Lt
2169,23,23,21,Y21F,N153.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Lt
2170,24,24,21,Y21F,N157.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Lt
2171,25,25,21,Y21F,N191.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Lt
2172,26,26,21,Y21F,N218.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Lt
2173,27,27,21,Y21F,N244.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Lt
2174,28,28,21,Y21F,N254.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Lt
2175,29,29,21,Y21F,N268.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Lt
2176,30,30,21,Y21F,N269.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Lt
2177,31,31,21,Y21F,N03.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Lt
2178,32,32,21,Y21F,N12.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Lt

In [ ]:

from PIL import Image
import matplotlib.pyplot as plt

path = Y21F_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/21Y/21Y-F/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/21Y/21Y-F/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/21Y/21Y-F/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/21 year/21Y - F/Lt/N14.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Lt/N36.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Lt/N43.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Lt/N77.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Lt/N87.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Lt/N106.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Lt/N107.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Lt/N121.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Lt/N124.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Lt/N153.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Lt/N157.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Lt/N191.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Lt/N218.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Lt/N244.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Lt/N254.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Lt/N268.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Lt/N269.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Lt/N03.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Lt/N12.jpg

### Y21-M_Lt

In [ ]:
Y21M_2= df[(df['Class'] == 'Y21M')&(df['Floder']=='Lt')]#ชาย
Y21M_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2289,143,43,21,Y21M,N23.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Lt
2290,144,44,21,Y21M,N125.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Lt
2291,145,45,21,Y21M,N152.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Lt
2292,146,46,21,Y21M,N198.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Lt
2293,147,47,21,Y21M,N236.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Lt
2294,148,48,21,Y21M,N326.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Lt
2295,149,49,21,Y21M,N348.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Lt
2296,150,50,21,Y21M,N384.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y21M_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/21Y/21Y-M/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/21Y/21Y-M/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/21Y/21Y-M/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/21 year/21Y - M/Lt/N23.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Lt/N125.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Lt/N152.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Lt/N198.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Lt/N236.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Lt/N326.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Lt/N348.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Lt/N384.jpg

### Y21-F_Rt

In [ ]:
Y21F_3= df[(df['Class'] == 'Y21F')&(df['Floder']=='Rt')]#หญิง
Y21F_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2147,1,1,21,Y21F,N21.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Rt
2148,2,2,21,Y21F,N22.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Rt
2149,3,3,21,Y21F,N31.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Rt
2150,4,4,21,Y21F,N50.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Rt
2151,5,5,21,Y21F,N57.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Rt
2152,6,6,21,Y21F,N64.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Rt
2153,7,7,21,Y21F,N81.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Rt
2154,8,8,21,Y21F,N103.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Rt
2155,9,9,21,Y21F,N115.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Rt
2156,10,10,21,Y21F,N137.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Rt
2157,11,11,21,Y21F,N156.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Rt
2158,12,12,21,Y21F,N169.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Rt
2159,13,13,21,Y21F,N211.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศหญิง,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y21F_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/21Y/21Y-F/Rt/'+filename)

/content/drive/My Drive/Film pano/21 year/21Y - F/Rt/N21.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Rt/N22.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Rt/N31.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Rt/N50.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Rt/N57.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Rt/N64.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Rt/N81.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Rt/N103.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Rt/N115.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Rt/N137.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Rt/N156.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Rt/N169.jpg
/content/drive/My Drive/Film pano/21 year/21Y - F/Rt/N211.jpg

### Y21-M_Rt

In [ ]:
Y21M_3= df[(df['Class'] == 'Y21M')&(df['Floder']=='Rt')]#ชาย
Y21M_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2297,151,51,21,Y21M,N39.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Rt
2298,152,52,21,Y21M,N66.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Rt
2299,153,53,21,Y21M,N195.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Rt
2300,154,54,21,Y21M,N230.jpg,/content/drive/My Drive/Film pano/21 year/21Y ...,เพศชาย,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y21M_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/21Y/21Y-M/Rt/'+filename)

/content/drive/My Drive/Film pano/21 year/21Y - M/Rt/N39.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Rt/N66.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Rt/N195.jpg
/content/drive/My Drive/Film pano/21 year/21Y - M/Rt/N230.jpg

#Y22
### Y22-F_Both

In [ ]:
Y22F_1= df[(df['Class'] == 'Y22F')&(df['Floder']=='Both')]#Y11F#หญิง
Y22F_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2301,1,1,22,Y22F,U04.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2302,2,2,22,Y22F,U07.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2303,3,3,22,Y22F,U24.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2304,4,4,22,Y22F,U25.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2305,5,5,22,Y22F,U40.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2306,6,6,22,Y22F,U41.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2307,7,7,22,Y22F,U46.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2308,8,8,22,Y22F,U50.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2309,9,9,22,Y22F,U61.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2310,10,10,22,Y22F,U68.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2311,11,11,22,Y22F,U73.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2312,12,12,22,Y22F,U85.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2313,13,13,22,Y22F,U88.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2314,14,14,22,Y22F,U93.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2315,15,15,22,Y22F,U96.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2316,16,16,22,Y22F,U97.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2317,17,17,22,Y22F,U112.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2318,18,18,22,Y22F,U115.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2319,19,19,22,Y22F,U122.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2320,20,20,22,Y22F,U123.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2321,21,21,22,Y22F,U129.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2322,22,22,22,Y22F,U131.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2323,23,23,22,Y22F,U135.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2324,24,24,22,Y22F,U139.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2325,25,25,22,Y22F,U146.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2326,26,26,22,Y22F,U152.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2327,27,27,22,Y22F,U153.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2328,28,28,22,Y22F,U157.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2329,29,29,22,Y22F,U167.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2330,30,30,22,Y22F,U172.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2331,31,31,22,Y22F,U177.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2332,32,32,22,Y22F,U181.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2333,33,33,22,Y22F,U183.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2334,34,34,22,Y22F,U189.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2335,35,35,22,Y22F,U195.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2336,36,36,22,Y22F,U199.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2337,37,37,22,Y22F,U200.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2338,38,38,22,Y22F,U202.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2339,39,39,22,Y22F,U224.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2340,40,40,22,Y22F,U227.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2341,41,41,22,Y22F,U254.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2342,42,42,22,Y22F,U258.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2343,43,43,22,Y22F,U259.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2344,44,44,22,Y22F,U260.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2345,45,45,22,Y22F,U261.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2346,46,46,22,Y22F,U266.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2347,47,47,22,Y22F,U271.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2348,48,48,22,Y22F,U287.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2349,49,49,22,Y22F,U294.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2350,50,50,22,Y22F,U296.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2351,51,51,22,Y22F,U297.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2352,52,52,22,Y22F,U298.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2353,53,53,22,Y22F,U299.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both
2354,54,54,22,Y22F,U156.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y22F_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/22Y/22Y-F/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/22Y/22Y-F/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/22Y/22Y-F/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/22Y/22Y-F/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U04.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U07.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U24.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U25.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U40.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U41.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U46.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U50.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U61.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U68.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U73.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U85.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U88.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U93.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U96.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U97.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U112.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U115.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U122.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U123.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U129.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U131.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U135.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U139.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U146.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U152.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U153.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U157.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U167.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U172.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U177.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U181.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U183.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U189.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U195.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U199.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U200.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U202.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U224.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U227.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U254.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U258.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U259.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U260.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U261.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U266.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U271.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U287.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U294.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U296.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U297.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U298.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U299.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Both/U156.jpg

### Y22-M_Both

In [ ]:
Y22M_1 = df[(df['Class'] == 'Y22M')&(df['Floder']=='Both')] #Y22M#ชาย
Y22M_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2380,80,1,22,Y22M,U06.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2381,81,2,22,Y22M,U22.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2382,82,3,22,Y22M,U26.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2383,83,4,22,Y22M,U39.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2384,84,5,22,Y22M,U52.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2385,85,6,22,Y22M,U55.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2386,86,7,22,Y22M,U90.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2387,87,8,22,Y22M,U95.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2388,88,9,22,Y22M,U102.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2389,89,10,22,Y22M,U104.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2390,90,11,22,Y22M,U111.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2391,91,12,22,Y22M,U113.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2392,92,13,22,Y22M,U126.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2393,93,14,22,Y22M,U138.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2394,94,15,22,Y22M,U145.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2395,95,16,22,Y22M,U147.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2396,96,17,22,Y22M,U158.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2397,97,18,22,Y22M,U164.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2398,98,19,22,Y22M,U174.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2399,99,20,22,Y22M,U176.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2400,100,21,22,Y22M,U179.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2401,101,22,22,Y22M,U205.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2402,102,23,22,Y22M,U210.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2403,103,24,22,Y22M,U220.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2404,104,25,22,Y22M,U225.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2405,105,26,22,Y22M,U226.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2406,106,27,22,Y22M,U233.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2407,107,28,22,Y22M,U237.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2408,108,29,22,Y22M,U270.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2409,109,30,22,Y22M,U316.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2410,110,31,22,Y22M,U326.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2411,111,32,22,Y22M,U344.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2412,112,33,22,Y22M,U345.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2413,113,34,22,Y22M,U353.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2414,114,35,22,Y22M,U356.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2415,115,36,22,Y22M,U366.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both
2416,116,37,22,Y22M,U386.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Both

In [ ]:

from PIL import Image
import matplotlib.pyplot as plt

path = Y22M_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/22Y/22Y-M/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/22Y/22Y-M/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/22Y/22Y-M/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/22Y/22Y-M/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U06.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U22.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U26.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U39.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U52.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U55.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U90.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U95.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U102.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U104.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U111.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U113.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U126.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U138.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U145.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U147.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U158.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U164.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U174.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U176.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U179.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U205.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U210.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U220.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U225.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U226.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U233.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U237.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U270.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U316.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U326.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U344.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U345.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U353.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U356.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U366.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Both/U386.jpg

### Y22-F_Lt

In [ ]:
Y22F_2= df[(df['Class'] == 'Y22F')&(df['Floder']=='Lt')]#หญิง
Y22F_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2355,55,55,22,Y22F,U15.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Lt
2356,56,56,22,Y22F,U20.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Lt
2357,57,57,22,Y22F,U62.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Lt
2358,58,58,22,Y22F,U136.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Lt
2359,59,59,22,Y22F,U171.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Lt
2360,60,60,22,Y22F,U184.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Lt
2361,61,61,22,Y22F,U197.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Lt
2362,62,62,22,Y22F,U230.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Lt
2363,63,63,22,Y22F,U238.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Lt
2364,64,64,22,Y22F,U247.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Lt
2365,65,65,22,Y22F,U250.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Lt
2366,66,66,22,Y22F,U269.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Lt
2367,67,67,22,Y22F,U278.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Lt
2368,68,68,22,Y22F,U279.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Lt
2369,69,69,22,Y22F,U291.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y22F_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/22Y/22Y-F/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/22Y/22Y-F/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/22Y/22Y-F/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/22 year/22Y - F/Lt/U15.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Lt/U20.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Lt/U62.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Lt/U136.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Lt/U171.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Lt/U184.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Lt/U197.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Lt/U230.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Lt/U238.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Lt/U247.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Lt/U250.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Lt/U269.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Lt/U278.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Lt/U279.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Lt/U291.jpg

### Y22-M_Lt

In [ ]:
Y22M_2= df[(df['Class'] == 'Y22M')&(df['Floder']=='Lt')]#ชาย
Y22M_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2417,117,38,22,Y22M,U19.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Lt
2418,118,39,22,Y22M,U33.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Lt
2419,119,40,22,Y22M,U42.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Lt
2420,120,41,22,Y22M,U49.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Lt
2421,121,42,22,Y22M,U91.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Lt
2422,122,43,22,Y22M,U103.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Lt
2423,123,44,22,Y22M,U128.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Lt
2424,124,45,22,Y22M,U141.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Lt
2425,125,46,22,Y22M,U188.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Lt
2426,126,47,22,Y22M,U204.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Lt
2427,127,48,22,Y22M,U251.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Lt
2428,128,49,22,Y22M,U257.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Lt
2429,129,50,22,Y22M,U281.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Lt
2430,130,51,22,Y22M,U352.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Lt
2431,131,52,22,Y22M,U378.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Lt
2432,132,53,22,Y22M,U391.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y22M_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/22Y/22Y-M/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/22Y/22Y-M/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/22Y/22Y-M/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/22 year/22Y - M/Lt/U19.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Lt/U33.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Lt/U42.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Lt/U49.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Lt/U91.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Lt/U103.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Lt/U128.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Lt/U141.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Lt/U188.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Lt/U204.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Lt/U251.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Lt/U257.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Lt/U281.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Lt/U352.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Lt/U378.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Lt/U391.jpg

### Y22-F_Rt

In [ ]:
Y22F_3= df[(df['Class'] == 'Y22F')&(df['Floder']=='Rt')]#หญิง
Y22F_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2370,70,70,22,Y22F,U37.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Rt
2371,71,71,22,Y22F,U44.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Rt
2372,72,72,22,Y22F,U59.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Rt
2373,73,73,22,Y22F,U86.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Rt
2374,74,74,22,Y22F,U144.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Rt
2375,75,75,22,Y22F,U148.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Rt
2376,76,76,22,Y22F,U165.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Rt
2377,77,77,22,Y22F,U193.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Rt
2378,78,78,22,Y22F,U246.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Rt
2379,79,79,22,Y22F,U248.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศหญิง,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y22F_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/22Y/22Y-F/Rt/'+filename)

/content/drive/My Drive/Film pano/22 year/22Y - F/Rt/U37.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Rt/U44.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Rt/U59.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Rt/U86.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Rt/U144.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Rt/U148.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Rt/U165.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Rt/U193.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Rt/U246.jpg
/content/drive/My Drive/Film pano/22 year/22Y - F/Rt/U248.jpg

### Y22-M_Rt

In [ ]:
Y22M_3= df[(df['Class'] == 'Y22M')&(df['Floder']=='Rt')]#ชาย
Y22M_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2433,133,54,22,Y22M,U30.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Rt
2434,134,55,22,Y22M,U45.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Rt
2435,135,56,22,Y22M,U54.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Rt
2436,136,57,22,Y22M,U80.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Rt
2437,137,58,22,Y22M,U81.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Rt
2438,138,59,22,Y22M,U116.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Rt
2439,139,60,22,Y22M,U137.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Rt
2440,140,61,22,Y22M,U163.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Rt
2441,141,62,22,Y22M,U168.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Rt
2442,142,63,22,Y22M,U178.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Rt
2443,143,64,22,Y22M,U292.jpg,/content/drive/My Drive/Film pano/22 year/22Y ...,เพศชาย,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y22M_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/22Y/22Y-M/Rt/'+filename)

/content/drive/My Drive/Film pano/22 year/22Y - M/Rt/U30.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Rt/U45.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Rt/U54.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Rt/U80.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Rt/U81.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Rt/U116.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Rt/U137.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Rt/U163.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Rt/U168.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Rt/U178.jpg
/content/drive/My Drive/Film pano/22 year/22Y - M/Rt/U292.jpg

# Y23
### Y23-F_Both

In [ ]:
Y23F_1= df[(df['Class'] == 'Y23F')&(df['Floder']=='Both')]#Y23F#หญิง
Y23F_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2444,1,1,23,Y23F,E03.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2445,2,2,23,Y23F,E14.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2446,3,3,23,Y23F,E16.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2447,4,4,23,Y23F,E29.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2448,5,5,23,Y23F,E31.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2449,6,6,23,Y23F,E36.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2450,7,7,23,Y23F,E50.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2451,8,8,23,Y23F,E56.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2452,9,9,23,Y23F,E58.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2453,10,10,23,Y23F,E60.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2454,11,11,23,Y23F,E62.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2455,12,12,23,Y23F,E68.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2456,13,13,23,Y23F,E76.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2457,14,14,23,Y23F,E78.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2458,15,15,23,Y23F,E79.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2459,16,16,23,Y23F,E87.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2460,17,17,23,Y23F,E104.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2461,18,18,23,Y23F,E112.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2462,19,19,23,Y23F,E124.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2463,20,20,23,Y23F,E130.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2464,21,21,23,Y23F,E132.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2465,22,22,23,Y23F,E138.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2466,23,23,23,Y23F,E143.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2467,24,24,23,Y23F,E149.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2468,25,25,23,Y23F,E155.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2469,26,26,23,Y23F,E156.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2470,27,27,23,Y23F,E180.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2471,28,28,23,Y23F,E198.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2472,29,29,23,Y23F,E200.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2473,30,30,23,Y23F,E202.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2474,31,31,23,Y23F,E206.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2475,32,32,23,Y23F,E212.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2476,33,33,23,Y23F,E215.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2477,34,34,23,Y23F,E218.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2478,35,35,23,Y23F,E236.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2479,36,36,23,Y23F,E240.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2480,37,37,23,Y23F,E242.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2481,38,38,23,Y23F,E244.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2482,39,39,23,Y23F,E245.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2483,40,40,23,Y23F,E250.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2484,41,41,23,Y23F,E254.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2485,42,42,23,Y23F,E255.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2486,43,43,23,Y23F,E256.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2487,44,44,23,Y23F,E261.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2488,45,45,23,Y23F,E264.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2489,46,46,23,Y23F,E265.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2490,47,47,23,Y23F,E268.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2491,48,48,23,Y23F,E271.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2492,49,49,23,Y23F,E278.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2493,50,50,23,Y23F,E279.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2494,51,51,23,Y23F,E280.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2495,52,52,23,Y23F,E282.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2496,53,53,23,Y23F,E283.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2497,54,54,23,Y23F,E284.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2498,55,55,23,Y23F,E287.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both
2499,56,56,23,Y23F,E297.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y23F_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/23Y/23Y-F/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/23Y/23Y-F/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/23Y/23Y-F/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/23Y/23Y-F/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E03.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E14.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E16.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E29.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E31.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E36.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E50.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E56.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E58.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E60.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E62.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E68.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E76.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E78.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E79.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E87.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E104.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E112.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E124.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E130.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E132.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E138.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E143.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E149.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E155.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E156.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E180.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E198.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E200.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E202.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E206.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E212.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E215.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E218.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E236.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E240.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E242.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E244.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E245.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E250.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E254.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E255.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E256.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E261.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E264.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E265.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E268.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E271.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E278.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E279.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E280.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E282.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E283.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E284.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E287.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Both/E297.jpg

### Y23-M_Both

In [ ]:
Y23M_1 = df[(df['Class'] == 'Y23M')&(df['Floder']=='Both')] #Y23M#ชาย
Y23M_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2539,96,1,23,Y23M,E10.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2540,97,2,23,Y23M,E24.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2541,98,3,23,Y23M,E27.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2542,99,4,23,Y23M,E33.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2543,100,5,23,Y23M,E35.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2544,101,6,23,Y23M,E42.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2545,102,7,23,Y23M,E57.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2546,103,8,23,Y23M,E61.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2547,104,9,23,Y23M,E410.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2548,105,10,23,Y23M,E82.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2549,106,11,23,Y23M,E88.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2550,107,12,23,Y23M,E94.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2551,108,13,23,Y23M,E107.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2552,109,14,23,Y23M,E111.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2553,110,15,23,Y23M,E116.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2554,111,16,23,Y23M,E126.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2555,112,17,23,Y23M,E134.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2556,113,18,23,Y23M,E136.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2557,114,19,23,Y23M,E139.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2558,115,20,23,Y23M,E142.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2559,116,21,23,Y23M,E146.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2560,117,22,23,Y23M,E152.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2561,118,23,23,Y23M,E164.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2562,119,24,23,Y23M,E165.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2563,120,25,23,Y23M,E172.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2564,121,26,23,Y23M,E176.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2565,122,27,23,Y23M,E183.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2566,123,28,23,Y23M,E186.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2567,124,29,23,Y23M,E188.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2568,125,30,23,Y23M,E222.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2569,126,31,23,Y23M,E226.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2570,127,32,23,Y23M,E232.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2571,128,33,23,Y23M,E262.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2572,129,34,23,Y23M,E263.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2573,130,35,23,Y23M,E288.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2574,131,36,23,Y23M,E306.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2575,132,37,23,Y23M,E308.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2576,133,38,23,Y23M,E317.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2577,134,39,23,Y23M,E332.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2578,135,40,23,Y23M,E345.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2579,136,41,23,Y23M,E365.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2580,137,42,23,Y23M,E368.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2581,138,43,23,Y23M,E386.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2582,139,44,23,Y23M,E387.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2583,140,45,23,Y23M,E389.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2584,141,46,23,Y23M,E390.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2585,142,47,23,Y23M,E405.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2586,143,48,23,Y23M,E407.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both
2587,144,49,23,Y23M,E408.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y23M_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/23Y/23Y-M/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/23Y/23Y-M/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/23Y/23Y-M/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/23Y/23Y-M/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E10.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E24.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E27.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E33.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E35.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E42.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E57.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E61.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E410.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E82.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E88.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E94.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E107.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E111.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E116.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E126.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E134.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E136.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E139.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E142.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E146.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E152.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E164.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E165.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E172.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E176.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E183.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E186.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E188.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E222.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E226.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E232.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E262.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E263.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E288.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E306.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E308.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E317.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E332.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E345.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E365.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E368.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E386.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E387.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E389.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E390.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E405.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E407.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Both/E408.jpg

### Y23-F_Lt

In [ ]:
Y23F_2= df[(df['Class'] == 'Y23F')&(df['Floder']=='Lt')]#หญิง
Y23F_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2500,57,57,23,Y23F,E43.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Lt
2501,58,58,23,Y23F,E66.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Lt
2502,59,59,23,Y23F,E109.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Lt
2503,60,60,23,Y23F,E122.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Lt
2504,61,61,23,Y23F,E123.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Lt
2505,62,62,23,Y23F,E140.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Lt
2506,63,63,23,Y23F,E148.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Lt
2507,64,64,23,Y23F,E150.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Lt
2508,65,65,23,Y23F,E178.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Lt
2509,66,66,23,Y23F,E184.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Lt
2510,67,67,23,Y23F,E189.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Lt
2511,68,68,23,Y23F,E190.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Lt
2512,69,69,23,Y23F,E197.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Lt
2513,70,70,23,Y23F,E247.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Lt
2514,71,71,23,Y23F,E296.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y23F_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/23Y/23Y-F/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/23Y/23Y-F/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/23Y/23Y-F/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/23 year/23Y - F/Lt/E43.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Lt/E66.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Lt/E109.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Lt/E122.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Lt/E123.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Lt/E140.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Lt/E148.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Lt/E150.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Lt/E178.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Lt/E184.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Lt/E189.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Lt/E190.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Lt/E197.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Lt/E247.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Lt/E296.jpg

### Y23-M_Lt

In [ ]:
Y23M_2= df[(df['Class'] == 'Y23M')&(df['Floder']=='Lt')]#ชาย
Y23M_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2588,145,50,23,Y23M,E171.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Lt
2589,146,51,23,Y23M,E233.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Lt
2590,147,52,23,Y23M,E238.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Lt
2591,148,53,23,Y23M,E274.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Lt
2592,149,54,23,Y23M,E276.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Lt
2593,150,55,23,Y23M,E359.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Lt
2594,151,56,23,Y23M,E403.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Lt
2595,152,57,23,Y23M,E406.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y23M_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/23Y/23Y-M/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/23Y/23Y-M/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/23Y/23Y-M/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/23 year/23Y - M/Lt/E171.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Lt/E233.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Lt/E238.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Lt/E274.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Lt/E276.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Lt/E359.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Lt/E403.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Lt/E406.jpg

### Y23-F_Rt

In [ ]:
Y23F_3= df[(df['Class'] == 'Y23F')&(df['Floder']=='Rt')]#หญิง
Y23F_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2515,72,72,23,Y23F,E12.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt
2516,73,73,23,Y23F,E13.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt
2517,74,74,23,Y23F,E70.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt
2518,75,75,23,Y23F,E81.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt
2519,76,76,23,Y23F,E105.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt
2520,77,77,23,Y23F,E106.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt
2521,78,78,23,Y23F,E115.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt
2522,79,79,23,Y23F,E144.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt
2523,80,80,23,Y23F,E153.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt
2524,81,81,23,Y23F,E154.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt
2525,82,82,23,Y23F,E166.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt
2526,83,83,23,Y23F,E169.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt
2527,84,84,23,Y23F,E216.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt
2528,85,85,23,Y23F,E225.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt
2529,86,86,23,Y23F,E234.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt
2530,87,87,23,Y23F,E235.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt
2531,88,88,23,Y23F,E237.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt
2532,89,89,23,Y23F,E239.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt
2533,90,90,23,Y23F,E258.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt
2534,91,91,23,Y23F,E275.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt
2535,92,92,23,Y23F,E277.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt
2536,93,93,23,Y23F,E289.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt
2537,94,94,23,Y23F,E295.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt
2538,95,95,23,Y23F,E300.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศหญิง,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y23F_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/23Y/23Y-F/Rt/'+filename)

/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E12.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E13.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E70.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E81.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E105.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E106.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E115.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E144.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E153.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E154.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E166.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E169.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E216.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E225.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E234.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E235.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E237.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E239.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E258.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E275.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E277.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E289.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E295.jpg
/content/drive/My Drive/Film pano/23 year/23Y - F/Rt/E300.jpg

### Y23-M_Rt

In [ ]:
Y23M_3= df[(df['Class'] == 'Y23M')&(df['Floder']=='Rt')]#ชาย
Y23M_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2596,153,58,23,Y23M,E15.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Rt
2597,154,59,23,Y23M,E38.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Rt
2598,155,60,23,Y23M,E75.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Rt
2599,156,61,23,Y23M,E102.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Rt
2600,157,62,23,Y23M,E108.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Rt
2601,158,63,23,Y23M,E125.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Rt
2602,159,64,23,Y23M,E219.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Rt
2603,160,65,23,Y23M,E252.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Rt
2604,161,66,23,Y23M,E293.jpg,/content/drive/My Drive/Film pano/23 year/23Y ...,เพศชาย,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y23M_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/23Y/23Y-M/Rt/'+filename)

/content/drive/My Drive/Film pano/23 year/23Y - M/Rt/E15.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Rt/E38.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Rt/E75.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Rt/E102.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Rt/E108.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Rt/E125.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Rt/E219.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Rt/E252.jpg
/content/drive/My Drive/Film pano/23 year/23Y - M/Rt/E293.jpg

# Y24
### Y24-F_Both

In [ ]:
Y24F_1= df[(df['Class'] == 'Y24F')&(df['Floder']=='Both')]#Y8F#หญิง
Y24F_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2605,1,1,24,Y24F,Z04.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Both
2606,2,2,24,Y24F,Z12.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Both
2607,3,3,24,Y24F,Z28.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Both
2608,4,4,24,Y24F,Z33.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Both
2609,5,5,24,Y24F,Z39.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Both
...,...,...,...,...,...,...,...,...
2665,61,61,24,Y24F,Z237.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Both
2666,62,62,24,Y24F,Z262.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Both
2667,63,63,24,Y24F,Z264.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Both
2668,64,64,24,Y24F,Z265.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Both
2669,65,65,24,Y24F,Z267.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y24F_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/24Y/24Y-F/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/24Y/24Y-F/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/24Y/24Y-F/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/24Y/24Y-F/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z04.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z12.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z28.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z33.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z39.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z48.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z49.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z53.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z56.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z57.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z60.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z65.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z66.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z70.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z75.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z80.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z82.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z83.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z89.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z93.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z105.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z112.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z117.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z118.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z121.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z122.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z128.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z129.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z130.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z133.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z137.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z139.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z140.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z145.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z146.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z148.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z152.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z154.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z158.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z166.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z169.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z172.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z173.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z178.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z180.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z187.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z190.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z192.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z193.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z194.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z195.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z199.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z215.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z216.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z220.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z227.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z230.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z232.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z235.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z236.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z237.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z262.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z264.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z265.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Both/Z267.jpg

### Y24-M_Both

In [ ]:
Y24M_1= df[(df['Class'] == 'Y24M')&(df['Floder']=='Both')]#Y24M#ชาย
Y24M_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2705,101,1,24,Y24M,Z09.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2706,102,2,24,Y24M,Z11.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2707,103,3,24,Y24M,Z13.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2708,104,4,24,Y24M,Z18.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2709,105,5,24,Y24M,Z19.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2710,106,6,24,Y24M,Z21.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2711,107,7,24,Y24M,Z24.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2712,108,8,24,Y24M,Z26.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2713,109,9,24,Y24M,Z38.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2714,110,10,24,Y24M,Z47.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2715,111,11,24,Y24M,Z50.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2716,112,12,24,Y24M,Z74.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2717,113,13,24,Y24M,Z85.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2718,114,14,24,Y24M,Z86.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2719,115,15,24,Y24M,Z90.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2720,116,16,24,Y24M,Z100.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2721,117,17,24,Y24M,Z101.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2722,118,18,24,Y24M,Z106.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2723,119,19,24,Y24M,Z114.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2724,120,20,24,Y24M,Z135.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2725,121,21,24,Y24M,Z157.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2726,122,22,24,Y24M,Z165.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2727,123,23,24,Y24M,Z171.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2728,124,24,24,Y24M,Z182.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2729,125,25,24,Y24M,Z183.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2730,126,26,24,Y24M,Z186.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2731,127,27,24,Y24M,Z207.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2732,128,28,24,Y24M,Z238.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2733,129,29,24,Y24M,Z245.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2734,130,30,24,Y24M,Z257.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2735,131,31,24,Y24M,Z258.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2736,132,32,24,Y24M,Z272.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2737,133,33,24,Y24M,Z280.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2738,134,34,24,Y24M,Z304.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2739,135,35,24,Y24M,Z322.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2740,136,36,24,Y24M,Z334.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2741,137,37,24,Y24M,Z344.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2742,138,38,24,Y24M,Z349.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2743,139,39,24,Y24M,Z350.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2744,140,40,24,Y24M,Z393.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2745,141,41,24,Y24M,Z396.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2746,142,42,24,Y24M,Z403.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2747,143,43,24,Y24M,Z404.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2748,144,44,24,Y24M,Z405.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2749,145,45,24,Y24M,Z406.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2750,146,46,24,Y24M,Z407.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2751,147,47,24,Y24M,Z408.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2752,148,48,24,Y24M,Z409.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2753,149,49,24,Y24M,Z410.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2754,150,50,24,Y24M,Z414.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2755,151,51,24,Y24M,Z419.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2756,152,52,24,Y24M,Z420.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2757,153,53,24,Y24M,Z421.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2758,154,54,24,Y24M,Z422.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both
2759,155,55,24,Y24M,Z425.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y24M_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/24Y/24Y-M/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/24Y/24Y-M/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/24Y/24Y-M/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/24Y/24Y-M/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z09.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z11.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z13.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z18.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z19.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z21.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z24.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z26.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z38.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z47.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z50.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z74.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z85.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z86.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z90.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z100.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z101.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z106.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z114.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z135.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z157.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z165.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z171.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z182.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z183.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z186.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z207.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z238.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z245.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z257.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z258.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z272.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z280.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z304.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z322.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z334.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z344.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z349.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z350.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z393.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z396.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z403.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z404.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z405.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z406.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z407.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z408.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z409.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z410.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z414.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z419.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z420.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z421.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z422.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Both/Z425.jpg


### Y24-F_Lt

In [ ]:
Y24F_2= df[(df['Class'] == 'Y24F')&(df['Floder']=='Lt')]#หญิง
Y24F_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2670,66,66,24,Y24F,Z43.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Lt
2671,67,67,24,Y24F,Z46.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Lt
2672,68,68,24,Y24F,Z54.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Lt
2673,69,69,24,Y24F,Z55.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Lt
2674,70,70,24,Y24F,Z143.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Lt
2675,71,71,24,Y24F,Z144.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Lt
2676,72,72,24,Y24F,Z161.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Lt
2677,73,73,24,Y24F,Z164.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Lt
2678,74,74,24,Y24F,Z188.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Lt
2679,75,75,24,Y24F,Z189.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Lt
2680,76,76,24,Y24F,Z214.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Lt
2681,77,77,24,Y24F,Z228.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Lt
2682,78,78,24,Y24F,Z242.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Lt
2683,79,79,24,Y24F,Z300.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Lt

In [ ]:

from PIL import Image
import matplotlib.pyplot as plt

path = Y24F_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/24Y/24Y-F/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/24Y/24Y-F/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/24Y/24Y-F/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/24 year/24Y - F/Lt/Z43.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Lt/Z46.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Lt/Z54.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Lt/Z55.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Lt/Z143.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Lt/Z144.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Lt/Z161.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Lt/Z164.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Lt/Z188.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Lt/Z189.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Lt/Z214.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Lt/Z228.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Lt/Z242.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Lt/Z300.jpg

### Y24-M_Lt

In [ ]:
Y24M_2= df[(df['Class'] == 'Y24M')&(df['Floder']=='Lt')]#ชาย
Y24M_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2760,156,56,24,Y24M,Z25.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Lt
2761,157,57,24,Y24M,Z35.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Lt
2762,158,58,24,Y24M,Z36.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Lt
2763,159,59,24,Y24M,Z73.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Lt
2764,160,60,24,Y24M,Z92.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Lt
2765,161,61,24,Y24M,Z159.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Lt
2766,162,62,24,Y24M,Z168.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Lt
2767,163,63,24,Y24M,Z252.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Lt
2768,164,64,24,Y24M,Z386.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Lt
2769,165,65,24,Y24M,Z415.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Lt
2770,166,66,24,Y24M,Z423.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Lt
2771,167,67,24,Y24M,Z424.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y24M_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/24Y/24Y-M/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/24Y/24Y-M/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/24Y/24Y-M/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/24 year/24Y - M/Lt/Z25.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Lt/Z35.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Lt/Z36.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Lt/Z73.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Lt/Z92.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Lt/Z159.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Lt/Z168.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Lt/Z252.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Lt/Z386.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Lt/Z415.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Lt/Z423.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Lt/Z424.jpg

### Y24-F_Rt

In [ ]:
Y24F_3= df[(df['Class'] == 'Y24F')&(df['Floder']=='Rt')]#หญิง
Y24F_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2684,80,80,24,Y24F,Z61.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Rt
2685,81,81,24,Y24F,Z62.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Rt
2686,82,82,24,Y24F,Z64.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Rt
2687,83,83,24,Y24F,Z107.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Rt
2688,84,84,24,Y24F,Z115.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Rt
2689,85,85,24,Y24F,Z136.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Rt
2690,86,86,24,Y24F,Z156.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Rt
2691,87,87,24,Y24F,Z170.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Rt
2692,88,88,24,Y24F,Z175.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Rt
2693,89,89,24,Y24F,Z208.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Rt
2694,90,90,24,Y24F,Z218.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Rt
2695,91,91,24,Y24F,Z225.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Rt
2696,92,92,24,Y24F,Z254.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Rt
2697,93,93,24,Y24F,Z263.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Rt
2698,94,94,24,Y24F,Z278.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Rt
2699,95,95,24,Y24F,Z293.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Rt
2700,96,96,24,Y24F,Z296.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Rt
2701,97,97,24,Y24F,Z10.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Rt
2702,98,98,24,Y24F,Z23.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Rt
2703,99,99,24,Y24F,Z58.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Rt
2704,100,100,24,Y24F,Z59.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศหญิง,Rt

In [ ]:

from PIL import Image
import matplotlib.pyplot as plt

path = Y24F_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/24Y/24Y-F/Rt/'+filename)

/content/drive/My Drive/Film pano/24 year/24Y - F/Rt/Z61.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Rt/Z62.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Rt/Z64.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Rt/Z107.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Rt/Z115.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Rt/Z136.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Rt/Z156.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Rt/Z170.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Rt/Z175.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Rt/Z208.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Rt/Z218.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Rt/Z225.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Rt/Z254.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Rt/Z263.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Rt/Z278.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Rt/Z293.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Rt/Z296.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Rt/Z10.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Rt/Z23.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Rt/Z58.jpg
/content/drive/My Drive/Film pano/24 year/24Y - F/Rt/Z59.jpg

### Y24-M_Rt

In [ ]:
Y24M_3= df[(df['Class'] == 'Y24M')&(df['Floder']=='Rt')]#ชาย
Y24M_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2772,168,68,24,Y24M,Z14.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Rt
2773,169,69,24,Y24M,Z72.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Rt
2774,170,70,24,Y24M,Z77.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Rt
2775,171,71,24,Y24M,Z109.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Rt
2776,172,72,24,Y24M,Z127.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Rt
2777,173,73,24,Y24M,Z131.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Rt
2778,174,74,24,Y24M,Z153.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Rt
2779,175,75,24,Y24M,Z191.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Rt
2780,176,76,24,Y24M,Z224.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Rt
2781,177,77,24,Y24M,Z287.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Rt
2782,178,78,24,Y24M,Z348.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Rt
2783,179,79,24,Y24M,Z390.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Rt
2784,180,80,24,Y24M,Z395.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Rt
2785,181,81,24,Y24M,Z401.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Rt
2786,182,82,24,Y24M,Z411.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Rt
2787,183,83,24,Y24M,Z412.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Rt
2788,184,84,24,Y24M,Z416.jpg,/content/drive/My Drive/Film pano/24 year/24Y ...,เพศชาย,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y24M_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/24Y/24Y-M/Rt/'+filename)

/content/drive/My Drive/Film pano/24 year/24Y - M/Rt/Z14.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Rt/Z72.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Rt/Z77.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Rt/Z109.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Rt/Z127.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Rt/Z131.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Rt/Z153.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Rt/Z191.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Rt/Z224.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Rt/Z287.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Rt/Z348.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Rt/Z390.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Rt/Z395.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Rt/Z401.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Rt/Z411.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Rt/Z412.jpg
/content/drive/My Drive/Film pano/24 year/24Y - M/Rt/Z416.jpg

# Y25
### Y25-F_Both

In [ ]:
Y25F_1= df[(df['Class'] == 'Y25F')&(df['Floder']=='Both')]#Y25F#หญิง
Y25F_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2789,1,1,25,Y25F,J10.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2790,2,2,25,Y25F,J16.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2791,3,3,25,Y25F,J18.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2792,4,4,25,Y25F,J23.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2793,5,5,25,Y25F,J31.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2794,6,6,25,Y25F,J34.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2795,7,7,25,Y25F,J42.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2796,8,8,25,Y25F,J49.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2797,9,9,25,Y25F,J50.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2798,10,10,25,Y25F,J53.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2799,11,11,25,Y25F,J56.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2800,12,12,25,Y25F,J57.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2801,13,13,25,Y25F,J59.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2802,14,14,25,Y25F,J64.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2803,15,15,25,Y25F,J68.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2804,16,16,25,Y25F,J74.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2805,17,17,25,Y25F,J83.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2806,18,18,25,Y25F,J87.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2807,19,19,25,Y25F,J102.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2808,20,20,25,Y25F,J107.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2809,21,21,25,Y25F,J114.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2810,22,22,25,Y25F,J122.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2811,23,23,25,Y25F,J125.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2812,24,24,25,Y25F,J133.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2813,25,25,25,Y25F,J140.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2814,26,26,25,Y25F,J141.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2815,27,27,25,Y25F,J144.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2816,28,28,25,Y25F,J147.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2817,29,29,25,Y25F,J148.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2818,30,30,25,Y25F,J150.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2819,31,31,25,Y25F,J155.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2820,32,32,25,Y25F,J157.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2821,33,33,25,Y25F,J159.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2822,34,34,25,Y25F,J165.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2823,35,35,25,Y25F,J174.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2824,36,36,25,Y25F,J178.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2825,37,37,25,Y25F,J187.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2826,38,38,25,Y25F,J190.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2827,39,39,25,Y25F,J191.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2828,40,40,25,Y25F,J192.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2829,41,41,25,Y25F,J198.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2830,42,42,25,Y25F,J207.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2831,43,43,25,Y25F,J217.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2832,44,44,25,Y25F,J218.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2833,45,45,25,Y25F,J231.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2834,46,46,25,Y25F,J245.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2835,47,47,25,Y25F,J251.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2836,48,48,25,Y25F,J253.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2837,49,49,25,Y25F,J255.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2838,50,50,25,Y25F,J257.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2839,51,51,25,Y25F,J258.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2840,52,52,25,Y25F,J260.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2841,53,53,25,Y25F,J265.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2842,54,54,25,Y25F,J274.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2843,55,55,25,Y25F,J275.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both
2844,56,56,25,Y25F,J276.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y25F_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/25Y/25Y-F/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/25Y/25Y-F/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/25Y/25Y-F/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/25Y/25Y-F/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J10.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J16.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J18.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J23.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J31.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J34.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J42.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J49.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J50.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J53.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J56.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J57.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J59.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J64.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J68.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J74.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J83.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J87.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J102.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J107.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J114.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J122.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J125.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J133.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J140.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J141.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J144.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J147.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J148.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J150.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J155.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J157.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J159.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J165.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J174.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J178.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J187.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J190.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J191.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J192.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J198.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J207.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J217.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J218.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J231.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J245.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J251.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J253.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J255.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J257.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J258.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J260.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J265.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J274.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J275.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Both/J276.jpg

### Y25-M_Both

In [ ]:
Y25M_1 = df[(df['Class'] == 'Y25M')&(df['Floder']=='Both')] #Y9M#ชาย
Y25M_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2877,89,1,25,Y25M,J27.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Both
2878,90,2,25,Y25M,J37.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Both
2879,91,3,25,Y25M,J43.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Both
2880,92,4,25,Y25M,J75.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Both
2881,93,5,25,Y25M,J116.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Both
2882,94,6,25,Y25M,J124.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Both
2883,95,7,25,Y25M,J129.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Both
2884,96,8,25,Y25M,J181.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Both
2885,97,9,25,Y25M,J212.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Both
2886,98,10,25,Y25M,J235.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Both
2887,99,11,25,Y25M,J254.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Both
2888,100,12,25,Y25M,J261.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Both
2889,101,13,25,Y25M,J263.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Both
2890,102,14,25,Y25M,J315.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Both
2891,103,15,25,Y25M,J322.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Both
2892,104,16,25,Y25M,J336.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Both
2893,105,17,25,Y25M,J339.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Both
2894,106,18,25,Y25M,J346.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Both
2895,107,19,25,Y25M,J350.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Both
2896,108,20,25,Y25M,J365.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Both
2897,109,21,25,Y25M,J375.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Both

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y25M_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/25Y/25Y-M/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/25Y/25Y-M/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/25Y/25Y-M/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/25Y/25Y-M/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/25 year/25Y - M/Both/J27.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Both/J37.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Both/J43.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Both/J75.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Both/J116.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Both/J124.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Both/J129.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Both/J181.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Both/J212.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Both/J235.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Both/J254.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Both/J261.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Both/J263.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Both/J315.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Both/J322.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Both/J336.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Both/J339.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Both/J346.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Both/J350.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Both/J365.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Both/J375.jpg

### Y25-F_Lt

In [ ]:
Y25F_2= df[(df['Class'] == 'Y25F')&(df['Floder']=='Lt')]#หญิง
Y25F_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2845,57,57,25,Y25F,J41.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Lt
2846,58,58,25,Y25F,J54.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Lt
2847,59,59,25,Y25F,J58.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Lt
2848,60,60,25,Y25F,J67.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Lt
2849,61,61,25,Y25F,J71.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Lt
2850,62,62,25,Y25F,J86.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Lt
2851,63,63,25,Y25F,J89.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Lt
2852,64,64,25,Y25F,J132.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Lt
2853,65,65,25,Y25F,J145.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Lt
2854,66,66,25,Y25F,J149.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Lt
2855,67,67,25,Y25F,J158.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Lt
2856,68,68,25,Y25F,J177.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Lt
2857,69,69,25,Y25F,J180.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Lt
2858,70,70,25,Y25F,J201.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Lt
2859,71,71,25,Y25F,J269.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Lt
2860,72,72,25,Y25F,J272.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Lt
2861,73,73,25,Y25F,J280.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Lt
2862,74,74,25,Y25F,J286.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Lt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y25F_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/25Y/25Y-F/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/25Y/25Y-F/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/25Y/25Y-F/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/25 year/25Y - F/Lt/J41.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Lt/J54.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Lt/J58.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Lt/J67.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Lt/J71.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Lt/J86.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Lt/J89.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Lt/J132.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Lt/J145.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Lt/J149.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Lt/J158.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Lt/J177.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Lt/J180.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Lt/J201.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Lt/J269.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Lt/J272.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Lt/J280.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Lt/J286.jpg

### Y25-M_Lt

In [ ]:
Y25M_2= df[(df['Class'] == 'Y25M')&(df['Floder']=='Lt')]#ชาย
Y25M_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2898,110,22,25,Y25M,J25.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Lt
2899,111,23,25,Y25M,J33.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Lt
2900,112,24,25,Y25M,J45.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Lt
2901,113,25,25,Y25M,J84.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Lt
2902,114,26,25,Y25M,J85.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Lt
2903,115,27,25,Y25M,J113.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Lt
2904,116,28,25,Y25M,J121.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Lt
2905,117,29,25,Y25M,J134.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Lt
2906,118,30,25,Y25M,J161.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Lt
2907,119,31,25,Y25M,J175.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Lt
2908,120,32,25,Y25M,J176.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Lt
2909,121,33,25,Y25M,J209.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Lt
2910,122,34,25,Y25M,J210.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Lt
2911,123,35,25,Y25M,J228.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Lt
2912,124,36,25,Y25M,J247.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Lt
2913,125,37,25,Y25M,J267.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Lt
2914,126,38,25,Y25M,J355.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Lt
2915,127,39,25,Y25M,J379.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Lt
2916,128,40,25,Y25M,J385.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Lt
2917,129,41,25,Y25M,J400.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Lt

In [ ]:

from PIL import Image
import matplotlib.pyplot as plt

path = Y25M_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/25Y/25Y-M/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/25Y/25Y-M/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/25Y/25Y-M/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/25 year/25Y - M/Lt/J25.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Lt/J33.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Lt/J45.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Lt/J84.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Lt/J85.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Lt/J113.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Lt/J121.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Lt/J134.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Lt/J161.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Lt/J175.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Lt/J176.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Lt/J209.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Lt/J210.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Lt/J228.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Lt/J247.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Lt/J267.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Lt/J355.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Lt/J379.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Lt/J385.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Lt/J400.jpg

### Y25-F_Rt

In [ ]:
Y25F_3= df[(df['Class'] == 'Y25F')&(df['Floder']=='Rt')]#หญิง
Y25F_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2863,75,75,25,Y25F,J07.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Rt
2864,76,76,25,Y25F,J44.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Rt
2865,77,77,25,Y25F,J101.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Rt
2866,78,78,25,Y25F,J126.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Rt
2867,79,79,25,Y25F,J135.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Rt
2868,80,80,25,Y25F,J203.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Rt
2869,81,81,25,Y25F,J205.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Rt
2870,82,82,25,Y25F,J206.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Rt
2871,83,83,25,Y25F,J220.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Rt
2872,84,84,25,Y25F,J239.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Rt
2873,85,85,25,Y25F,J243.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Rt
2874,86,86,25,Y25F,J244.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Rt
2875,87,87,25,Y25F,J283.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Rt
2876,88,88,25,Y25F,J287.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศหญิง,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y25F_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/25Y/25Y-F/Rt/'+filename)

/content/drive/My Drive/Film pano/25 year/25Y - F/Rt/J07.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Rt/J44.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Rt/J101.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Rt/J126.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Rt/J135.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Rt/J203.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Rt/J205.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Rt/J206.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Rt/J220.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Rt/J239.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Rt/J243.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Rt/J244.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Rt/J283.jpg
/content/drive/My Drive/Film pano/25 year/25Y - F/Rt/J287.jpg

### Y25-M_Rt

In [ ]:
Y25M_3= df[(df['Class'] == 'Y25M')&(df['Floder']=='Rt')]#ชาย
Y25M_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
2918,130,42,25,Y25M,J09.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Rt
2919,131,43,25,Y25M,J46.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Rt
2920,132,44,25,Y25M,J55.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Rt
2921,133,45,25,Y25M,J60.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Rt
2922,134,46,25,Y25M,J78.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Rt
2923,135,47,25,Y25M,J96.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Rt
2924,136,48,25,Y25M,J136.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Rt
2925,137,49,25,Y25M,J137.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Rt
2926,138,50,25,Y25M,J146.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Rt
2927,139,51,25,Y25M,J166.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Rt
2928,140,52,25,Y25M,J169.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Rt
2929,141,53,25,Y25M,J183.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Rt
2930,142,54,25,Y25M,J208.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Rt

In [ ]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y25M_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/25Y/25Y-M/Rt/'+filename)

/content/drive/My Drive/Film pano/25 year/25Y - M/Rt/J09.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Rt/J46.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Rt/J55.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Rt/J60.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Rt/J78.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Rt/J96.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Rt/J136.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Rt/J137.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Rt/J146.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Rt/J166.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Rt/J169.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Rt/J183.jpg
/content/drive/My Drive/Film pano/25 year/25Y - M/Rt/J208.jpg